@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";

html {
  font-family: Arial, Helvetica, sans-serif;
}

.text-center {
  text-align: center;
}

.float-center {
  display: block;
  margin: 0 auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
.clear {
  width: 100%;
  clear: both;
}
/* Common styles */
.coca-cola-header {

  background: #e20000; /* Old browsers */
  background: -moz-linear-gradient(top,  #e20000 0%, #f90000 48%, #f00000 49%, #b30000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e20000), color-stop(48%,#f90000), color-stop(49%,#f00000), color-stop(100%,#b30000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e20000 0%,#f90000 48%,#f00000 49%,#b30000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e20000 0%,#f90000 48%,#f00000 49%,#b30000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e20000 0%,#f90000 48%,#f00000 49%,#b30000 100%); /* IE10+ */
  background: linear-gradient(top,  #e20000 0%,#f90000 48%,#f00000 49%,#b30000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e20000', endColorstr='#b30000',GradientType=0 ); /* IE6-9 */
  position: relative;
}
.view_links {
  text-align: center;
  color: #f40009 !important;

  a {
  font-size: 70%;
  text-decoration: none;
  color: #f40009 !important;

 }}

.smaller_copy {
  font-size: 75%;
}
.back-button {
  position: absolute;
  top: 5px;
  left: 7px;
  height: 34px;
}

.coca-cola-nav li,
.coca-cola-nav li .ui-btn-inner {
  //height: 86px;
}
.coca-cola-nav li {
  &.ui-block-a, &.ui-block-b, &.ui-block-d {
    width: 22%;
  }
}
.coca-cola-nav li.ui-block-c {
  //width: 34.4%;
  width: 34%;
}
.coca-cola-nav li a {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  font-weight: normal;
  background: none;
  background-color: #f40009;
  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -1px;
}

//coke nav table version
table.coca-cola-nav{

    width: 100%;
  table-layout:fixed;
    padding: 0px;
    margin: 0px;
    height: 20px;
    //background: none;
    //background-color: none;
    .ui-btn-up-a{
      //border: 1px solid #383838;
      //font-weight: bold;
      //color: white;
      //text-shadow: 2px 2px 5px black;
      //background: none;
      //-webkit-box-shadow: none;
      //box-shadow: none;
    }
      tr{

        td{
          width: 25%;
          background: none;
          background-color: none;
          padding: 0px;
          white-space: nowrap;
          overflow: hidden;
          &:nth-child(1), &:nth-child(2), &:nth-child(4){
            width: 22%;
          }

          &:nth-child(3){
            width: 34%;
          }
          .ui-btn-inner {
            padding: 10px;
            font-size: 14px;
            //padding-top:
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            position: relative;
            zoom: 1;
            border-top: 1px solid white;
            border-color: rgba(255, 255, 255, 0.3);

          }
          a{
            width: 100%;
            margin: 0px;
            box-shadow: none !important;
            -webkit-box-shadow: none !important;
            font-weight: normal;
            background: none;
            background-color: #f40009;
            text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -1px;


          }
        }
      }



}

.coca-cola-home-banner {
  display: block;
  height: 235px;
  width: 100%;
  margin-bottom: 7px;
  overflow: hidden;
}

.coca-cola-media-header {

  display: block;
  position: relative;
  overflow: hidden;

}

.coca-cola-articles {
  margin-top: 0 !important;
  li {
    cursor: pointer;
  }
}
.coca-cola-article-thumb {
  top: 0.75em;
  left: 0.5em;
}

.coca-cola-article-title { /* Minor adjustment to standard bar */
  margin-top: 1px;
  text-align: center;
  background: #666666; /* Old browsers */
  background: -moz-linear-gradient(top,  #666666 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #666666 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #666666 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #666666 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(top,  #666666 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  border: none;
}

.coca-cola-article-date {
  color: #da343e;
  font-size: 1.1em;
}
.coca-cola-register-checkbox, .coca-cola-contact-checkbox {
  padding: 0;

  .ui-checkbox input, .ui-radio input {
    visibility: hidden;
  }
}
.coca-cola-register-checkbox label .ui-btn-inner .ui-icon {
   top: 16px;
}


.coca-cola-note-box {
  position: relative;
  padding: 45px 30px;
  border: 1px solid #999999;
  border-radius: 10px;
  box-shadow: 0 0 40px 5px #CCCCCC inset, 0 0 5px 2px #F0F0F0;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.coca-cola-error-box {
  @extend .coca-cola-note-box;

  color: #CC0000;
  font-size:  22px;
  font-weight: normal;
  text-align: left;

  // hidden by default
  display: none;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

//.coca-cola-play-wrap {
//  width: 295px;
//}

.coca-cola-app-button {

  &.ui-btn {
    width: 285px;
    height: 205px;
    margin: 0.5em 0.3em;
    box-shadow: 0 0 50px 0px rgba(0,0,0,0.5) inset, 3px 3px 3px rgba(0, 0, 0, 0.5);
    border: none;
  }

  .ui-btn-inner {
    padding-top: 155px;

    .ui-icon {
      top: 20px;
      left: 20px;
      width: 244px;
      height: 135px;
      margin: 0;
      background-color: transparent;
      border: 0;
      box-shadow: 0 0 0;
      -webkit-box-shadow: 0 0 0;
    }
  }
}

.coming_soon {

  font-size: 90%;

  .ui-btn-inner {
    border: none;

  }
}

.ui-content h1 {
  font-weight: normal;
  color: #da343e;
  font-size: 27px;
  margin: 0.5em 0;
  font-family: "Helvetica Neue", Arial, Helvetica, san-serif;
}

form label span.error, .ui-controlgroup-label span.error {
  display: inline-block;
  color: #d31f2b;
  font-weight: bold;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
form.contact_form label.ui-input-text {
  float: left;
  width: 70%;
}
form.contact_form .error_list {
  list-style-type: none;
  padding: 0;
  margin: 0.7em 0 0 0;
  float: right;
  color: #d31f2b;
  font-weight: bold;

}
/* Specific overrrides or extras to default jQuery mobile CSS */

h4 {
  margin-top: 0;
}

.ui-content {
  padding: 5px;
}

.coke_pass {
  padding: 10px;
}
.ui-bar-a {
  border: 0;
}

.ui-bar h3 {
  font-weight: normal;
  font-size: 20px;
}

.ui-listview {
  box-shadow: -20px -10px 40px -5px #CCCCCC inset, 10px 20px 40px -5px #CCCCCC inset;
  -webkit-box-shadow: -20px -10px 40px -5px #CCCCCC inset, 10px 20px 40px -5px #CCCCCC inset;
}

.ui-listview li {
  border-bottom: 1px solid #999999;
}

.ui-listview.coca-cola-articles li {
  background: url('/images/article-list-arrow.png') no-repeat right center;
  margin: 0;

  &.ui-btn-active {
  	border: none;
    border-bottom: 1px solid #999;
  	background: none;
  	font-weight: inherit;
  	color: inherit;
  	cursor: pointer;
  	text-shadow: none;
  	text-decoration: none;
  	background-image: none;
    font-family: inherit;
  }
  &.ui-btn-active a.ui-link-inherit {
  	color: inherit;
  }

}


.ui-loader {  opacity: 0.70;  }

.ui-loader .ui-icon { opacity: 1;  }



.ui-li-thumb,
.ui-listview .ui-li-icon {
  max-height: none;
  max-width: 130px;
}

.ui-li .ui-btn-inner a.ui-link-inherit,
.ui-li-static.ui-li {
  padding: 1.5em 15px;
}

.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit,
.ui-li-static.ui-li-has-thumb  {
  min-height: 60px;
  padding-left: 150px;
  padding-right: 50px;
}

.ui-btn {
  margin: 1em 0;
}
.ui-listview-inset .ui-li {
  margin: 0;
}
.ui-btn-text {
  font-family: Arial, Helvetica, sans-serif;

}

.ui-btn-inner {
  padding: 1em 25px 1em 25px;
}

//.ui-navbar-noicons li .ui-btn .ui-btn-inner,
//.ui-navbar-noicons .ui-navbar-toggle .ui-btn-inner {
//
//}

input.ui-input-text, textarea.ui-input-text {
  font-size: 18px;
  box-sizing: border-box;
  width: 100%;
}

label em {
  color: #be2b35;
  font-style: normal;
  font-weight: bold;
}

label.ui-input-text,
label.ui-slider,
label.ui-select,
div.ui-controlgroup-label{
  margin-top: 0.5em;
  font-size: 18px;
  font-weight: bold;
}
.ui-controlgroup-controls, .ui-controlgroup-label {
  width: 100% !important;
}

.ui-field-contain label.ui-input-text {
  margin-top: 0.5em;
}

.ui-body-c {
  border: 0;
  background: #f0f0f0;
}

.ui-shadow-inset {
  box-shadow:  0 0 20px 5px #CCCCCC inset;
}

.ui-body-b.ui-shadow-inset {
  box-shadow:  0 0;
}
.coca-cola-play-wrap {
  padding: 10px;
}
/* Adjustments for screens */
@media all and (min-width: 620px) {
  .ui-page {
    width: 620px!important;
  }
  .coca-cola-media-header {
    @include clearfix;
  }
  .casual-home-images {
    height: auto;
    width: 610px;
    margin: 0 auto;
  }
  .center-wrap {
    width: auto;
  }
  .casual-home-images img {
    width: 303px;

    &:first-child {

    }
  }

}

@media all and (min-width: 480px) {
  .ui-header .coca-cola-back,
  .ui-header .coca-cola-back .ui-btn-inner {
    top: 1em;
  }
}
@media all and (orientation:landscape) {
  .ui-page {
    width: 100% !important;
  }
  .coca-cola-home-banner {
    height: auto;
    img {
      width: 100%;
      //margin-bottom: 5px;
    }
  }
  .casual-home-images {
    height: auto;
    width: 100%;
    margin: 0 auto;
  }

  .coca-cola-logo {
    max-height: 44px;
    max-width: 110px;
  }
  .center-wrap {
    width: 80%;

  }
  .casual-home-images img {
    width: 46%;
  }

}
@media all and (max-width: 480px) {

  .coca-cola-logo {
    max-height: 44px;
    max-width: 110px;
  }

  .ui-header .coca-cola-back,
  .ui-header .coca-cola-back .ui-btn-inner {
    top: 0.5em;
  }

  .coca-cola-nav li,
  .coca-cola-nav li .ui-btn-inner {
    //height: 38px;
  }
  .coca-cola-nav li a {
    //box-shadow: none !important;
  }
  .coca-cola-nav .ui-btn-text {
    font-size: 14px;
  }
  .coca-cola-nav td .ui-btn-text {
    padding: 0px;
  }
  .coca-cola-home-banner {
    height: auto;
    margin-bottom: 5px;
  }

  .ui-content {


    .ui-listview {
      margin: 0 -5px;
    }
  }

  .coca-cola-article-thumb {
    max-width: 80px;
    top: 1em;
  }

  .coca-cola-article-img {
    max-width: 480px;
  }

  .ui-listview.coca-cola-articles li {
    background-size: 25px 23px;
  }

  .ui-li .ui-btn-inner a.ui-link-inherit,
  .ui-li-static.ui-li {
    padding: 0.5em 2em;
  }

  .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit,
  .ui-li-static.ui-li-has-thumb  {
    padding-left: 100px;
  }

  .ui-btn-text {
    font-size: 18px;
  }

  .ui-bar h3 {
    font-weight: bold;
    font-size: 14px;
  }

  h4.ui-li-heading {
    font-size: 12px;
    margin: 0.5em 0;
  }
  .ui-li-desc {
    font-size: 11px;
    white-space: normal;
  }

  //.coca-cola-play-wrap {
  //  width: 300px;
  //}

  $play_btn_width: 47%;
  $play_btn_height: 117px;
  .coca-cola-app-button {
    float: left;

    &.ui-btn {
      width: $play_btn_width;
      height: $play_btn_height;
    }

    .ui-btn-inner {
      padding-top: 78px;

      .ui-icon {
        top: -1px;
        left: 0px;
        width: 100%;
        //height: 67.5px;
        background-size: 100%;
      }
    }
    .ui-btn-text {
      font-size: 14px;
    }

    &.coming_soon {

      .ui-btn-inner {
        padding-top: 30%;
        white-space: normal;
      }
    }

  }


  #olympics_content img {
    width: 100%;
  }


  #home-banner {
    width: 100%;
  }

  #casual-img-2 {
    width: 150px;
    height: 35px;

    margin-top: 1em;
  }

  .casual-home-images {
    height: auto;
    width: 470px;
    margin: 0 auto;
  }
  .center-wrap {
    width: 400px;
  }
  .casual-home-images img {
    width: 172px;
  }

}

.casual-coca-cola-dome {
  position: relative;
  display: block;
  margin: 0 auto;
}

.center-wrap {
  display: inline-block;
  margin: 0 auto;
}

.casual-home-images img {
  max-width: 303px;
}
.casual-home-images img:first-child {
  margin-right: 5px;
}

#home-banner {
  max-width: 625px;
}

#casual-img-2 {
  clear: right;
  margin: 2.5em 1em 0 0;
}

#casual-btn-1 {
  clear: right;
  margin: 1em 1em 0 0;
}
//HTC One X (360px)
@media all and (max-width: 480px) {


}

//Galaxy S
@media all and (max-width: 320px) {

  #casual-btn-1 .ui-btn-inner {
    padding: 0.4em 10px 0.5em;
  }
  #casual-btn-1 .ui-btn-text {
    font-size: 14px;
  }

  .casual-home-images {
    //height: 95px;
    width: auto;
    margin: 0 auto;
    overflow: hidden;
  }

  .casual-home-images img {
    width: 152px;
  }


  .coca-cola-article-img {
    max-width: 320px;
  }
  //
  //.ui-navbar-noicons li .ui-btn .ui-btn-inner,
  //.ui-navbar-noicons .ui-navbar-toggle .ui-btn-inner {
  //  padding-top: 1.2em;
  //}

  input.ui-input-text, textarea.ui-input-text {
    width: 95%;
  }

  form label.ui-input-text, .ui-radio .ui-btn-text {
    font-size: 93%;
  }


}


@media all and (max-width: 540px) and (orientation: landscape ) {
  .coca-cola-play-wrap {
    padding: 5px;

    .coca-cola-app-button {

      &.ui-btn {
        width: 155px;
        height: 120px;
        margin: 0.5em 0.3em;


      }

      .ui-btn-inner {
        padding-top: 50%;

        .ui-icon {
          background-size: 95%;
          top: 0px;
          left: 10px;
          width: 150px;
          height: 150px;

        }
      }
    }

  }
}
@media all and (max-width: 720px) {


}

@media all and (max-width: 300px) {

//only the table navigation
  .coca-cola-nav td .ui-btn-text {
    font-size: 10px;
  }

}
@import 'partials/shareacoke';
@import 'partials/cokecard';
@import 'partials/coke_finder';


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
.dropdown-menu a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  text-decoration: none;
  color: #ffffff;
  background-color: #f40009;
  background-color: #ec241d;
  background-image: -moz-linear-gradient(top, #f40009, #ec241d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f40009), to(#ec241d));
  background-image: -webkit-linear-gradient(top, #f40009, #ec241d);
  background-image: -o-linear-gradient(top, #f40009, #ec241d);
  background-image: linear-gradient(to bottom, #f40009, #ec241d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff40009', endColorstr='#ffec241d', GradientType=0);
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #f40009;
  background-color: #ec241d;
  background-image: -moz-linear-gradient(top, #f40009, #ec241d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f40009), to(#ec241d));
  background-image: -webkit-linear-gradient(top, #f40009, #ec241d);
  background-image: -o-linear-gradient(top, #f40009, #ec241d);
  background-image: linear-gradient(to bottom, #f40009, #ec241d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff40009', endColorstr='#ffec241d', GradientType=0);
}
.dropdown-menu .disabled > a,
.dropdown-menu .disabled > a:hover {
  color: #999999;
}
.dropdown-menu .disabled > a:hover {
  text-decoration: none;
  background-color: transparent;
  cursor: default;
}