@import "compass/utilities/general/clearfix";

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video
	{
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

article,aside,figure,footer,header,hgroup,nav,section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],dfn[title] {
	border-bottom: 1px dotted #000;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

input,select {
	vertical-align: middle;
}

body {
	font: 13px sans-serif; *
	font-size: small; *
	font: x-small;
	line-height: 1.22;
}

table {
	font-size: inherit;
	font: 100%;
}

select,input,textarea {
	font: 99% sans-serif;
}

pre,code,kbd,samp {
	font-family: monospace, sans-serif;
}

body,select,input,textarea {
	color: #444;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	text-rendering: optimizeLegibility;
}

html {
	-webkit-font-smoothing: antialiased;
}

a:hover,a:active {
	outline: none;
}

a,a:active,a:visited {
	color: #607890;
}

a:hover {
	color: #036;
}

ul {
	margin-left: 30px;
}

ol {
	margin-left: 30px;
	list-style-type: decimal;
}

small {
	font-size: 85%;
}

strong,th {
	font-weight: bold;
}

td,td img {
	vertical-align: top;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

sup {
	vertical-align: super;
	font-size: smaller;
}
/*
pre {
	padding: 15px;
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	word-wrap: break-word;
}
*/
input[type="radio"] {
	vertical-align: text-bottom;
}

/*input[type="checkbox"] {*/
	/*vertical-align: bottom; **/
	/*vertical-align: baseline;*/
/*}*/

/*.ie6 input {*/
	/*vertical-align: text-bottom;*/
/*}*/

label,input[type=button],input[type=submit],button {
	cursor: pointer;
}

::-moz-selection {
	background: #e50000;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #e50000;
	color: #fff;
	text-shadow: none;
}

a:link {
	-webkit-tap-highlight-color: #FF5E99;
}

html {
	overflow-y: scroll;
}

button {
	width: auto;
	overflow: visible;
}

.ie7 img {
	-ms-interpolation-mode: bicubic;
}

.ir {
	display: block;
	text-indent: -999em;

	overflow: hidden;
	background-repeat: no-repeat;
}

.hidden {
	display: none;
	visibility: hidden;
}

.visuallyhidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	clip: rect(1px, 1px, 1px, 1px);
}

.invisible {
	visibility: hidden;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* Primary Styles
    Author: 
 */
body {
	font-family: Helvetica, Arial, sans-serif;
	background: #fff url(../images/page-bg-gradient.png) repeat-x 0 46px;
}

header {
	position: relative;
	height: 46px;
	background: #f40000 url(../images/header-tile.png) repeat-x top;
	z-index: 6;
}

#loginForm .error_list {
	position: absolute;
	top: 0;
	left: 0;
}

.pageWidthTop {
	width: 950px;
	height: 46px;
	margin: 0 auto;
}

#mainlogo {
	margin-top: 15px;
	float: left;
}

#mainlinks {
	float: right;
	position: relative;
	top: 0px;
	height: 45px;
}

#mainlinks a {
	display: block;
	float: left;
	height: 45px;
	text-indent: -2000px;
}

a#home {
	background: url("../images/nav/button03.jpg");
	width: 68px;
}

a#home_sel {
	background: url("../images/nav/UWB_Nav_Active_03.jpg");
	width: 68px;
}

a#prod {
	background: url("../images/nav/button04.jpg");
	width: 101px;
}

a#prod_sel {
	background: url("../images/nav/UWB_Nav_Active_04.jpg");
	width: 101px;
}

a#comp {
	background: url("../images/nav/button05.jpg");
	width: 126px;
}

a#comp_sel {
	background: url("../images/nav/UWB_Nav_Active_05.jpg");
	width: 126px;
}

a#sus {
	background: url("../images/nav/button06.jpg");
	width: 104px;
}

a#sus_sel {
	background: url("../images/nav/UWB_Nav_Active_06.jpg");
	width: 104px;
}

a#career {
	background: url("../images/nav/button07.jpg");
	width: 74px;
}

a#career_sel {
	background: url("../images/nav/UWB_Nav_Active_07.jpg");
	width: 74px;
}

a#contact {
	background: url("../images/nav/button08.jpg");
	width: 89px;
}

a#contact_sel {
	background: url("../images/nav/UWB_Nav_Active_08.jpg");
	width: 89px;
}

a#home:hover {
	background: url("../images/nav/button03.jpg");
	background-position: 0px 45px;
	width: 68px;
}

a#prod:hover {
	background: url("../images/nav/button04.jpg");
	background-position: 0px 45px;
	width: 101px;
}

a#comp:hover {
	background: url("../images/nav/button05.jpg");
	background-position: 0px 45px;
	width: 126px;
}

a#sus:hover {
	background: url("../images/nav/button06.jpg");
	background-position: 0px 45px;
	width: 104px;
}

a#career:hover {
	background: url("../images/nav/button07.jpg");
	background-position: 0px 45px;
	width: 74px;
}

a#contact:hover {
	background: url("../images/nav/button08.jpg");
	background-position: 0px 45px;
	width: 89px;
}

.cokebottle {
	background: url(../images/open-happiness-bottle.png) no-repeat 675px
		56px;
	_background: url(../images/open-happiness-bottle.png) no-repeat 675px
		75px;
	min-height: 500px;
}

.bottomborder {
	border-bottom: 1px solid #ddd;
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

div.bottomborder {
	border-bottom: 1px solid #ddd;
	width: 100%;
	padding-bottom: 10px;
	margin-bottom: 10px;
	float: left;
	height: auto;
}

.contentheader {
	margin-top: 10px;
}

input#captcha{
	
}

img#captcha_img {
	clear: both;
	float: left;
	margin-left: 130px;
	margin-bottom: 10px;
	margin-right: 300px;
}

#captcha_err {
	float: right;
	display: block;
	color: #f40000;
	font-weight: bold;
	left: 50px;
	position: relative;
	top: -30px;
	//left: 0px !ie;
	//top: 0px !ie;
}

#contactusmain {
	width: 600px;
	line-height: 16px;
}

#contactusmain h4 {
	color: #F40000;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 10px;
	width: 100%;
	display: block;
	clear: both;
	float: left;
}

#contactusmain h4.err {
	color: #F40000;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 10px;
	width: 100%;
	display: block;
	clear: both;
	float: left;
}

.account h4.msg {
	color: #22A6D9;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 20px;
	width: auto;
	display: block;
	clear: both;
	float: left;
}

.account .submit{
	float: left;
}

.account .backLink{
	float: left;
	margin-top:13px;
	margin-left: 15px;	
}

.clearfloat{
	clear: both;
	float: left;
	min-height: 30px;
	min-width: 500px;
	width: auto;
	height: auto;
}
.form .clearfloat {
	width: 600px    ;
}
#contactusmain h4.msg {
	color: #22A6D9;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 10px;
	width: 100%;
	display: block;
	clear: both;
	float: left;
}

.form .errors{
	font-weight: bold;
	color: red;
	background: url("/images/redicon.png") no-repeat 0px 10px;
	padding-left: 20px;
	padding-top: 14px;
	padding-bottom: 10px;
}

.form .instructions{
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 10px;
}

.form label,
#contactusmain label {
	width: 110px;
	display: block;
	float: left;
	margin:6px 10px 10px 0;
	clear: left;
}
.form .check_wide label,
#contactusmain .check_wide label {
	margin: 0 10px 10px 10px;
}

#contactusmain .tiny {
	font-size: 10px;
	display: block;
	float: right;
	width: 200px;
	position: relative;
}

.contactus .selects{
	float: left;
	width: 245px;
}

#checkPhone {
	display: block;
	float: right;
	position: relative;
}

.form input.submit,
#contactusmain input.submit {
	clear: both;
	display: block;
	float: left;
	border: none;
	text-indent: -2000px;
	background: transparent url("../images/submitbutton.jpg");
	width: 100px;
	height: 29px;
	margin-bottom: 10px;
	//padding: 100px 0 0 0 !   ie;
	//overflow: hidden !   ie;
	cursor: pointer;
}

#contactusmain textarea {
	background: url("../images/textfield.jpg") no-repeat;
	width: 334px;
	height: 97px;
	border: none;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: auto;
	float: left;
}

#contactusmain .radio_list {
	list-style: none;
	margin: 0;
}
#contactusmain .radio_list li {
	padding: 2px 0;
}
#contactusmain .radio_list label, #contactusmain .radio_list input {
	float: none;
 	clear: none;
	display: inline;
}
.form input.text, .form input.captcha,
#contactusmain input.text, #contactusmain input.captcha {
	background: transparent url("../images/inputfield.jpg");
	border: none;
	height: 17px;
	width: 224px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	margin-bottom: 10px;
	display: block;
	float: left;
}

#contactusmain img.captcha, .form img.captcha {
	clear: both;
	float: left;
	margin-left: 120px;
}
#contactusmain #promcontent,#contactusmain #prodcontent,#contactusmain #maincontent,#contactusmain #maincontent2
	{
	float: left;
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

#contactusmain .redlink {
	color: #f40000;
	font-weight: bold;
	font-size: 11px;
	cursor: pointer;
	vertical-align: middle;
	display: block;
	float: right;
	width: 200px;
	position: relative;
	top: 3px;
	text-decoration: none;
}

#contactusmain .redlink img {
	vertical-align: middle;
	margin-left: 2px;
}

#clearform {
	margin-left: 20px;
	margin-top: 10px;
	display: block;
	float: left;
	width: 100px;
}

#prodcontent img#wheretofind {
	display: block;
	position: absolute;
}

#careersmain {
	
}

#careersmain div {
	float: left;
	line-height: 1.5em;
}

#careersmain div.careeritem {
	width: 100%;
	float: left;
	clear: both;
}

#careersmain #buttondiv {
	margin: 30px 0;
}

#careersmain div.text {
	width: 530px;
	height: auto;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
}

#careersmain div.img {
	width: 350px;
	height: auto;
}

#careersmain h4 {
	color: #F40000;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 10px;
	width: 100%;
	display: block;
	clear: both;
	float: left;
	margin-top: 8px;
}

#careersbutton {
	background: url("../images/careers/careers_22.jpg") no-repeat top left;
	display: block;
	width: 511px;
	height: 29px;
	text-indent: -2000px;
	_padding: 100px 0 0 0;
	_overflow: hidden;
	float: right;
	margin-right: 70px;
}

.careertext {
	width: 350px;
	float: left;
	font-weight: bold;
}

.errormsg, .error_list {
	float: left;
	display: block;
	color: #f40000;
	font-weight: bold;
	margin-left: 10px;
	position: relative;
	top: 5px;
	list-style: none;
}
.form .error_list {
	float: right;
	margin-left: 0;
	width: 190px;
}
#phoneErr {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 220px;
	height: 20px;
}

/* END:JESSICA */

.maintenanceImg{
	margin-top: 100px;
}

#maintenanceDiv h1{
	font-size: 64px;
	color: #f40000;
}

#maintenanceDiv h3{
	font-size: 26px;
	color: #3c3c3c;
	margin-top: 10px;
	margin-bottom: 30px;
}

#maintenanceDiv p{
	margin-top: 30px; 
	display: block;
	clear:both;
}

#loginMaintenance .maintext{
	font-size: 16px;
	color: #f40000;
}

#loginMaintenance .subtext{
	line-height: 15px;
	font-size: 12px;
	color: #3c3c3c;
	margin-top: 10px;
	margin-bottom: 30px;
}

#loginMaintenance{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}


#navigation {
	position: absolute;
	float: left;
	top: 17px;
}

#navigation .dropdown_trigger {
	position: relative;
	display: block;
	width: 118px;
	background: #e32527 url(../images/dropdown-trigger-background.png)
		repeat-x center;
	font: normal 11px/ 15px Arial, Helvetica, sans-serif;
	color: #f6f6f6;
	text-decoration: none;
	padding: 2px 10px;
	border: #f98080 solid 1px;
}

#navigation .dropdown_trigger:hover,#navigation.open .dropdown_trigger {
	background-image: none;
}

#navigation .dropdown_trigger_icon {
	position: absolute;
	right: 7px;
	top: 9px;
	width: 7px;
	height: 4px;
	line-height: 0px;
	font-size: 0;
	background: url(../images/dropdown-trigger-icon.png) no-repeat;
}

#navigation nav {
	display: none;
}

#navigation.open .dropdown_trigger_icon {
	background-position: 0 -4px;
}

#navigation.open nav {
	display: block;
}

#navigation.open .dropdown_trigger {
	padding-bottom: 11px;
	border-bottom: none;
}

#navigation nav {
	font: normal 11px/ 1.2em Arial, Helvetica, sans-serif;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #fff;
	padding: 10px;
	background-color: #d5d4d4;
	width: 200px;
}

#navigation nav a,#navigation nav a:visited,#navigation nav a:active,#navigation nav a:hover
	{
	display: block;
	color: #2a2a2a;
	text-decoration: none;
	padding: 7px 0;
	border-bottom: 1px #aeadad solid;
}

#navigation nav a.last {
	border-bottom: 0 !important;
	padding-bottom: 0 !important;
}

#navigation nav a:hover {
	text-decoration: underline;
}

#promoBanner {
	margin: 10px 0;
	position: relative;
}

#promoTiles {
	height: 240px;
	margin: 0;
	padding: 0;
}

#promoTiles .promoTile {
	position: relative;
	float: left;
	list-style: none;
	margin: 0 10px 0 0;
	padding: 0;
	width: 230px;
	height: 240px;
	overflow: hidden;
}

#promoTiles li.last {
	margin: 0;
}

#sidebar {
	float: left;
	width: 125px;
}

#sidebar h3 {
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	padding: 2px 2px 2px 0;
	margin-left: 2px;
	color: #f40000;
	border-bottom: 1px solid #ddd;
	margin-top: 40px;
}

#sub_nav a,#sub_nav a:visited,#sub_nav a:active,#sub_nav a:hover {
	display: block;
	color: #000;
	line-height: 1.3em;
	padding: 2px;
	text-decoration: none;
}

#sub_nav a:hover {
	text-decoration: underline;
}

#sub_nav a.on {
	background-color: #f2f2f2;
	font-weight: bold;
}

#corporate_nav {
	margin-top: 20px;
}

#corporate_nav a,#corporate_nav a:visited,#corporate_nav a:active,#corporate_nav a:hover
	{
	display: block;
	font-size: 1.1em;
	line-height: 1.2em;
	padding: 2px;
	text-decoration: none;
	color: #4c4c4c;
	border-bottom: 1px solid #ddd;
}

#corporate_nav a:hover {
	text-decoration: underline;
}

#corporate_nav a.last {
	border-bottom: none;
}

#corporate_nav a.on {
	background-color: #f2f2f2;
	font-weight: bold;
}

.standard #content {
	float: left;
	margin-left: 25px;
	width: 800px;
}

.scrolling #content {
	width: 650px;
	height: 445px;
	padding-right: 300px;
	background: url(../images/open-happiness-bottle.png) no-repeat 675px top
		;
	overflow: auto;
}

.contextual {
	float: right;
	margin-left: 25px;
}

/* footer { background-color:#eee; border:1px solid #dfdfdf; padding:10px; margin:10px 0; height:1em; } */
footer nav {
	background-color: #eee;
	border: 1px solid #dfdfdf;
	padding: 10px;
	margin: 10px 0;
}

footer nav a,footer nav a:visited,footer nav a:active {
	text-decoration: none;
	margin-right: 10px;
	color: #515050;
}

footer nav a:hover {
	text-decoration: underline;
	color: #515050;
}

footer #legal_footer {
	display: block;
	text-align: center;
	width: 950px;
	clear: both;
	font-size: .85em;
	color: #6a6a6b;
}

.pageWidth {
	width: 950px;
	margin: 0 auto;
	//position: relative !ie;
}

/* 
 * typography
 */
body {
	font: normal 11px/ 1.2em "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	color: #4c4c4c;
}

.typography h1 {
	font-size: 25px;
	line-height: 35px;
	color: #e50000;
	border-bottom: 1px solid #ddd;
	margin: 23px 0 .8em 0;
}

.typography h3 {
	font-size: 1.1em;
	line-height: 1.2em;
	color: #f40000;
	font-weight: bold;
	margin: 1em 0 .5em;
}

.typography p {
	margin: 2em 0;
}

.scrolling p {
	margin: 0 0 .5em 0;
}

.typography a,.typography a:visited,.typography a:active,.typography a:hover
	{
	color: #f40000;
	text-decoration: underline;
}

/* 
 * print styles
 */
@media print {
	* {
		background: transparent !important;
		color: #444 !important;
		text-shadow: none;
	}
	a,a:visited {
		color: #444 !important;
		text-decoration: underline;
	}
	a:after {
		content: " (" attr(href) ")";
	}
	abbr:after {
		content: " (" attr(title) ")";
	}
	.ir a:after {
		content: "";
	} /* Don't show links for images */
	pre,blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	img {
		page-break-inside: avoid;
	}
	@page {
		margin: 0.5cm;
	}
	p,h2,h3 {
		orphans: 3;
		widows: 3;
	}
	h2,h3 {
		page-break-after: avoid;
	}
}

@media all and (orientation:portrait) {
}

@media all and (orientation:landscape) {
}

/* Grade-A Mobile Browsers */
@media screen and (max-device-width: 480px) {
	html {
		-webkit-text-size-adjust: none;
		-ms-text-size-adjust: none;
	}
}

/* 
 * Widget Holders
 */
#loginWidgetHolder {
	background: green;
	width: 448px;
	height: 96px;
	z-index: 6;
	position: absolute;
	margin: 0px 0px 0px 507px;
	background: url(../images/widgetLoginBg.png) no-repeat 0px bottom;
}

#myAccountPopUp {
	width: 343px;
	height: 333px;
	padding: 0px 0px 0px 10px;
	position: absolute;
}

#myAccountPopUp li {
	padding-top: 20px;
	display: block;
}

#winnersPopUp {
	width: 500px;
	height: 564px;
	overflow: hidden;
	font-size: 12px;
	line-height: 20px;
}
#winnersPopUp #subtitle{
	float: left;
	font-weight: bold;
}

#winnersPopUp #winnersList{
	overflow: auto;
	height: 450px;
	margin-top: 20px;
	float: left;
	width: 470px;
	margin-left: 30px;
}

#winnersPopUp h1 {
	font-size: 28px;
	color: #e22119;
	padding: 0px 0px 10px 0px;
}

#winnersPopUp ul,#winnersPopUp li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#winnersPopUp ul {
	padding: 15px 0px 0px 0px;
}

#welcomeBackPopUp {
	width: 460px;
	height: 335px;
}

#welcomeBackPopUp h1 {
	font-size: 30px;
	color: #e22119;
}

#welcomeBackPopUp h2 {
	font-size: 18px;
	padding: 0px 0px 10px 0px;
}

#welcomeBackPopUp #leftBanner{
float: left;
}

#welcomeBackPopUp #rightBanner{
float: right;
}

#welcomeBackPopUp #manageBtn{
	width: 100%;
	float: left;
	text-align: center;
}

#manageAccountBtn {
	background: url(../images/manageMyAccountBtn.gif);
	width: 178px;
	height: 26px;
	text-indent: -9999px;
	display: block;
	margin-left: 140px;
}

#adminWindow {
	width: 500px;
	height: auto;
	padding: 20px;
	margin-top: 50px;
	line-height: 2em;
}

#adminWindow h3 {
	font-size: 16px;
	font-weight: normal;
}

.adminWindow {
	width: 500px;
	height: auto;
	padding: 20px;
	margin-top: 50px;
	line-height: 2em;
}

.adminWindow h3 {
	font-size: 16px;
	font-weight: normal;
}


.startView {
	display: none;
	width: 476px;
	height: 98px;
	left: 0px;
	top: 0px;
	position: absolute;
	background: url(/images/widget-login-start.png) no-repeat top left;
	z-index: 6;
}

.welcomeView {
	display: none;
	background: url("/images/widget-login-welcome.png") no-repeat top left;
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
	width: 196px;
	height: 57px;
	z-index: 6;
}

.loginButton {
	background: url("/images/login-button.png") no-repeat left top;
	float: right;
	width: 69px;
	height: 50px;
}

.loginButton a {
	float: right;
	width: 69px;
	height: 52px;
	display: block;
	text-indent: -2000px;
}

.popup {
	z-index: 6;
}

#loginWidget {
	float: left;
	margin-left: 5px;
}

#registrationWidget {
	margin-top: 20px;
}

#passwordWidget {
	margin-top: 20px;
}

#myAccountPopUp {
	width: 176px;
	height: 195px;
}

#myAccountPopUp a {
	color: #e22119;
}

#myAccountPopUp p {
	font-size: 12px;
}

#myAccountPopUp h1 {
	color: #e22119;
	font-size: 20px;
}

#myAccountPopUp ul,#myAccountPopUp li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#myAccountPopUp ul {
	padding: 7px 0px 20px 0px;
}

#myAccountPopUp li {
	margin: 9px 0px 0px 0px;
}

#myAccountPopUp #personalDetails,#myAccountPopUp #emailAddress,#myAccountPopUp #ChangeNotification
	{
	text-indent: -9999px;
	width: 174px;
	height: 22px;
	display: block;
}

#myAccountPopUp #personalDetails {
	background: url("/images/changePersonalDetailsBtn.png");
}

#myAccountPopUp #emailAddress {
	background: url("/images/changeEmailAddressBtn.png");
}

#myAccountPopUp #ChangeNotification {
	background: url("/images/changeNotificationsBtn.png");
}

#myAccountWidget {
	background: url("/images/loader_onwhite.gif") no-repeat center center;
}

/* POPUP STUFF */
.black_overlay {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	min-width: 1000px;
	min-height: 800px;
	top: 0px;
	left: 0px;
	background: transparent url("/images/overlay.png") repeat;
	z-index: 5;
	zoom: 1;
	cursor: pointer;
}

.login_overlay {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	min-width: 1000px;
	min-height: 800px;
	top: 0px;
	left: 0px;
	background: transparent url("/images/overlay.png") repeat;
	z-index: 5;
	zoom: 1;
}

.login_loader {
	display: none;
	position: fixed;
	height: 20px;
	width: 70px;
	top: 50%;
	left: 50%;
	/*background: transparent url("/images/loader_onblack.gif") no-repeat center center;*/
	z-index: 6;
	zoom: 1;
	color: white;
	font-size: 11px;
}

#popup_header_left {
	background: url("/images/popup/lefttop.png") no-repeat bottom right;
	height: 10px;
	width: 10px;
	float: left;
}

#popup_header_right {
	background: url("/images/popup/righttop.png") no-repeat bottom left;
	height: 10px;
	width: 10px;
	float: right;
}

#popup_footer_left {
	background: url("/images/popup/leftbottom.png") no-repeat top right;
	height: 10px;
	width: 10px;
	float: left;
}

#popup_footer_right {
	background: url("/images/popup/rightbottom.png") no-repeat top left;
	height: 10px;
	width: 10px;
	float: right;
}

#popup_footer_middle,#popup_header_middle {
	background-color: white;
	float: left;
	width: auto;
	height: 10px;
}

#popup_body {
	background-color: white;
}

#popup_close {
	background: url("/images/popup/close.png") no-repeat top right;
	width: 26px;
	height: 23px;
	float: right;
	margin-right: 10px;
	cursor: pointer;
}

#popup_header,
#popup_footer,
#popup_body,
#popup_content {
	clear: both;
}

#popup_header,#popup_footer {
	height: 10px;
}

#popup_content {
	min-height: 100px;
	min-width: 100px;
	margin-right: 10px;
	margin-left: 10px;
}

#popup_wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 6;
	display: none;
}

#ie_zindex_fix {
	z-index: 6;
}

.admin #content{
	min-height: 500px;
	padding-top: 40px;
	padding-left: 20px;
}

.admin input.submit{
	margin-left: 10px;
	float: left;
	display: block;
	border: none;
	text-indent: -2000px;
	background: transparent url("../images/submitbutton.jpg");
	width: 100px;
	height: 29px;
	margin-bottom: 10px;
	//padding: 100px 0 0 0 !   ie;
	//overflow: hidden !   ie;
	cursor: pointer;
}

.admin h1{
	font-size: 28px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.admin h4{
	font-size: 16px;
}

.admin h3{
	color: #a19d9e;
	font-size: 22px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.admin input.biginput{
	width: 200px;
	height: 25px;
	float: left;
	font-size: 18px;
}

.admin table td,
.admin table.bigtext{
	padding: 5px;
	text-align: left;
	vertical-align: middle;
}

.admin select.biginput{
	width: auto;
	height: 25px;
	float: left;
	font-size:18px;
	margin-top: 4px;
	vertical-align: middle;
}

.admin .resultbox{
	
}

.admin #content div{
	float: left;
	clear: both;
}

.admin .success{
	color: blue;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.admin .error{
	color: red;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.admin #content .bigtext p{
	line-height: 20px;
}

.admin .bigtext{
	font-size: 16px;
	margin: 0 0 10px 0;
}

.admin .resultstable{
	text-align: left;
	border: 1px solid gray;
}

.admin .resultstable td{
	padding: 5px;
	border: 1px solid gray;
	border-collapse: collapse;
}

.admin .resultstable th{
	font-size: 12px;
	color: white;
	background-color:  #a19d9e;
	border: 1px solid gray;
	border-collapse: collapse;
	padding: 10px;
}

.admin .emph {
	font-weight: bold;

}

/* LOGIN AREA */
div#loginWidget span#intro{
	clear: both;
	display: block;
	float: left;
	margin-top: 8px;
	color: red;
	margin-bottom: 3px;
}

div#loginWidget span#name{
	clear:both;
	display:block;
	float: left;
	font-size: 9px;
	color: red;
}

div#loginWidget #loggedInGreeting,
div#loginWidget #loggedInLinks{
	clear: both;
	float: left;
	width: 150px;
}

div#loginWidget #myAcctLink {
	background: url("/images/myAccountBtn.png");
	width: 72px;
	height: 15px;
	text-indent: -9999px;
	float: left;
	margin-top: 3px;
}

div#loginWidget #logoutLink {
	background: url("/images/logOutBtn.png") 0px 0px;
	width: 45px;
	height: 15px;
	text-indent: -9999px;
	float: left;
	margin-top: 3px;
	margin-left: 3px;
}

.acctdeet{
	float: left;
	font-weight: bold;
	min-width: 100px;
	height: 20px;
}

div#loginWidget #myAcctLink:hover,
div#loginWidget #logoutLink:hover {
	background-position: 0px 15px;
}

div#loginWidget iframe{
	height: 68px;
	width: 390px;
	float: left;
	overflow: hidden;
	background: none;
	margin-top: 7px;
	margin-left: 5px;
	background: transparent;
}

input#webinar-login {
	width: 64px;
	height: 22px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background: url(/images/loginBtn.png);
	cursor: pointer;
	cursor: hand;
	text-align:left;
	text-indent:-3000px;
	float: right;
	margin-right: 36px;
	margin-top: 3px;
	//padding-top:100px !ie;
	//overflow: hidden !ie;
}

input#usernameField,
input#passwordField{
	width: 170px;
	height: 26px;
	border: 0px;
	background: url("/images/loginInputBg.png") no-repeat top left;
	padding: 4px 0px 0px 10px;
	color: #e22119;
	float: left;
	margin-right: 10px;
}

span#loglinks a {
	color: red;
	text-decoration: underline;
}

span#loglinks{
	width: 200px;
	text-align: left;
	float: left;
	clear: left;
	margin-top: 8px;
	margin-left: 8px;
}

.cokebottle .form{
	width: 600px;
}

#login_error{
	position: absolute; 
	top: 0px; 
	left: 5px; 
	color:#999; 
	font-weight:bold;
}

.form .selects{
	height: auto;
	width: 224px;
	margin-top: -3px;
	display: block;
	float: left;
}

.form .check {
	margin-left: 124px; 
	float: left;
	width: 475px;
}
.form .check_wide {
	margin-left: 10px;
	float: left;
}
.form .check label, .form .check_wide label {
	width: auto;
	float: none;
	display: inline;
	margin-left: 3px;
}

.form .check_wide input {
	float: left;
}
.form .check_wide label {
	float: left;
	width: 90%;
	clear: none;
	margin-left: 6px;
}
.form .radios{
	margin-left: 124px; 
	float: left;
}

.form p {
	margin: 5px;
}

#fb-root{
	display:none;
}

#footnote{
	clear: both;
	float: left;
	margin-top: 30px;
	font-style: italic;
	background: url(/images/info-icon.jpg) no-repeat top left;
	padding-left: 16px;
	padding-top: 1px;
}



.zerohero {
  .pageWidth {
    width: 100%;
    margin-top: 5px;

    section {
      background-color: #000;
    }

    .top, .bottom {
      background-color: #231f20;
    }

    .top {
      padding: 28px 0 9px;
      img {
        display: block;
        margin: 0 auto;
      }
    }

    .content {
      width: 700px;
      display: block;
      margin: 0 auto;
      padding: 18px 60px 18px 0;
      position: relative;
      @include clearfix;
    }

    .fb_like {

      float: right;
      position: absolute;
      top: 61px;
      left: 0;
    }
    .video {
      float: right;
    }

    .bottom {
      padding: 42px 0 28px;

      .inner {
        @include clearfix;
        width: 639px;
        display: block;
        margin: 0 auto;
      }

    }

    footer {
      width: 950px;
      margin: 0 auto;
    }
  }




}