
@font-face {
	font-family: 'GothamHTFBook';
	src: url('../type/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'), 
	     url('../type/gothamhtf-book-webfont.woff') format('woff'), 
	     url('../type/gothamhtf-book-webfont.ttf') format('truetype'),
	     url('../type/gothamhtf-book-webfont.svg#svgGothamHTFBook') format('svg');
	}
@font-face {
	font-family: 'GothamHTFMedium';
	src: url('../type/gothamhtf-medium-webfont.eot?#iefix') format('embedded-opentype'), 
	     url('../type/gothamhtf-medium-webfont.woff') format('woff'), 
	     url('../type/gothamhtf-medium-webfont.ttf') format('truetype'),
	     url('../type/gothamhtf-medium-webfont.svg#svgGothamHTFMedium') format('svg');
	}

@font-face {
	font-family: 'GothamHTFBold';
	src: url('../type/gothamhtf-bold-webfont.eot?#iefix') format('embedded-opentype'), 
	     url('../type/gothamhtf-bold-webfont.woff') format('woff'), 
	     url('../type/gothamhtf-bold-webfont.ttf') format('truetype'),
	     url('../type/gothamhtf-bold-webfont.svg#svgGothamHTFBold') format('svg');
	}
	
html,body {
	width:320px; height:416px;
	margin:0; padding:0;
	color:#FFF; font-family:Arial, Helvetica, sans-serif; font-size:12px;
	background-color: #000;
}

p {
	margin:0 0 10px 0;
	line-height:14px;
	font-family:'GothamHTFBook', Arial, Helvetica, sans-serif;
}
p.center {
	text-align:center;	
}
p.no_margin {
	margin:0;	
}

h1 {
	margin:0 0 10px;
	font-size:16px; color:#EE1C27; text-align:center; line-height:16px; font-weight:normal;
	font-family:'GothamHTFMedium', Arial, Helvetica, sans-serif;
}
h2 {
	margin:0;
	font-size:14px; color:#CCCCCC;  line-height:12px; font-weight:normal;
	font-family:'GothamHTFBook', Arial, Helvetica, sans-serif;
}
.centergame {
	width:320px; height:416px;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -160px;
	/*top: 50%;*/
	/*margin-top: -208px;*/
}
#canvas {
	width:320px; height:416px;
	float:left;
	z-index:5; position:relative;
}

#menus {
	width:320px; height:416px;
	position:absolute; top:0; left:0;
	z-index:10;
	display:none;
}
	.menu_block {
		float:left;
		position:relative;
		display:none;
	}
	.title_menu {
		width:320px; height:416px;
	}
	.pause_menu {
		width:250px; height:238px;
		padding:89px 35px;
		background-color:rgba(0,0,0,0.6);
	}
	.start_menu {
		width:250px; height:97px;
		padding:157px 35px 162px;
		background-color:rgba(0,0,0,0.6);
	}
	.over_menu {
		width:250px; height:170px;
		padding:123px 35px;
		background-color:rgba(0,0,0,0.6);
	}
		.title {
			width:320px; height:16px;
			margin:0 0 11px; padding:11px 0;
			float:left;
			background-image:url(../media/title_bg.jpg); background-repeat:repeat-x;
		}
			.title h1 {
				margin:0;
				color:#FFF; font-size:18px;	
				text-shadow: 1px 1px 1px #222; filter: dropshadow(color=#222, offx=1, offy=1);
			}
		
		.box_holder {
			width:250px; height:auto;
			padding:0 35px;
			float:left;
		}
		.box {
			width:230px; height:auto;
			margin:0 0 11px; padding:13px 10px;
			float:left;
			background-color:#000; 
			-webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; 				
		}
			.box_powerup {
				width:207px; height:auto;
				margin:0 0 5px; padding:0 0 0 23px;
				float:left;
				background-repeat:no-repeat;
			}
			.box_powerup.last {
				margin:0;
			}
			.box_powerup.flame {
				background-image:url(../media/icon_flame.png);
			}
			.box_powerup.paddle {
				background-image:url(../media/icon_paddle.png);
			}
			.box_powerup.freeze {
				background-image:url(../media/icon_freeze.png);
			}
				.box_powerup h2 {
					color:#CCCCCC; line-height:16px;
				}
				.box_powerup p {
					color:#CCCCCC;	font-size:11px;
				}
		
		.button_block {
			width:180px; height:auto;
			padding:25px 35px 20px 35px;
			float:left;
			background-color:#FFF;
			-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; 	
		}		
			.button_block h1  {
				margin:0 0 15px;
				color:#DF3649; font-size:24px;	
				text-shadow: 1px 1px 1px #222; filter: dropshadow(color=#222, offx=1, offy=1);
			}
					
			.button {
				width:250px; height:22px;
				padding:10px 0;
				float:left;
				color:#FFFFFF; text-align:center; font-size:18px; cursor:pointer;
				background-color:#DB313C;
				background-image:url(../media/button_bg.jpg); background-repeat:repeat-x;
				-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; 	
				text-shadow: 1px 1px 1px #444; filter: dropshadow(color=#444, offx=1, offy=1);
			}	
			.button.small {
				width:180px; height:22px;
				margin:0 0 5px 0; padding:10px 0;
			}	
			.button.howto_btn {
				margin:10px 0 0 0;	
			}
			
			
			
		
		
		