/*
* jQuery Mobile Framework 1.1.0
* http://jquerymobile.com
*
* Copyright 2011 (c) jQuery Project
* Dual licensed under the MIT or GPL Version 2 licenses.
* http://jquery.org/license
*
*/
/* Swatches */

/* A
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-a {
	border: 1px solid #b2131e /*{a-bar-border}*/;
	background: #e61e2b /*{a-bar-background-color}*/;
	color: #ffffff /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 1px /*{a-bar-shadow-radius}*/ #333333 /*{a-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e61e2b /*{a-bar-background-start}*/), to( #e61e2b /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #e61e2b /*{a-bar-background-start}*/, #e61e2b /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #e61e2b /*{a-bar-background-start}*/, #e61e2b /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #e61e2b /*{a-bar-background-start}*/, #e61e2b /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #e61e2b /*{a-bar-background-start}*/, #e61e2b /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #e61e2b /*{a-bar-background-start}*/, #e61e2b /*{a-bar-background-end}*/);
}

.ui-bar-a .ui-link-inherit {
	color: #ffffff /*{a-bar-color}*/;
}
.ui-bar-a .ui-link {
	color: #7cc4e7 /*{a-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-a .ui-link:hover {
	color: #2489CE /*{a-bar-link-hover}*/;
}

.ui-bar-a .ui-link:active {
	color: #2489CE /*{a-bar-link-active}*/;
}

.ui-bar-a .ui-link:visited {
    color: #2489CE /*{a-bar-link-visited}*/;
}

.ui-bar-a,
.ui-bar-a input,
.ui-bar-a select,
.ui-bar-a textarea,
.ui-bar-a button {
	  font-family: Arial, Helvetica, sans-serif /*{global-font-family}*/;
}
.ui-body-a,
.ui-overlay-a {
	border: 1px solid #ffffff /*{a-body-border}*/;
	color: #333333 /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 0 /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #fff /*{a-body-shadow-color}*/;
	background: #ffffff /*{a-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{a-body-background-start}*/), to( #FFFFFF /*{a-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFFFFF /*{a-body-background-start}*/, #FFFFFF /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFFFFF /*{a-body-background-start}*/, #FFFFFF /*{a-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFFFFF /*{a-body-background-start}*/, #FFFFFF /*{a-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFFFFF /*{a-body-background-start}*/, #FFFFFF /*{a-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFFFFF /*{a-body-background-start}*/, #FFFFFF /*{a-body-background-end}*/);
}
.ui-overlay-a {
	background-image: none;
	border-width: 0;
}
.ui-body-a,
.ui-body-a input,
.ui-body-a select,
.ui-body-a textarea,
.ui-body-a button {
	  font-family: Arial, Helvetica, sans-serif /*{global-font-family}*/;
}

.ui-body-a .ui-link-inherit {
	color: #333333 /*{a-body-color}*/;
}

.ui-body-a .ui-link {
	color: #333333 /*{a-body-link-color}*/;
	font-weight: bold;
}

.ui-body-a .ui-link:hover {
	color: #330000 /*{a-body-link-hover}*/;
}

.ui-body-a .ui-link:active {
	color: #330000 /*{a-body-link-active}*/;
}

.ui-body-a .ui-link:visited {
    color: #330000 /*{a-body-link-visited}*/;
}

.ui-btn-up-a {
	border: 1px solid #383838 /*{a-bup-border}*/;

	font-weight: bold;
	color: #FFFFFF /*{a-bup-color}*/;
	text-shadow: 2px /*{a-bup-shadow-x}*/ 2px /*{a-bup-shadow-y}*/ 5px /*{a-bup-shadow-radius}*/ #000000 /*{a-bup-shadow-color}*/;

	background: #e20000; /* Old browsers */
	background: -moz-linear-gradient(top,  #e20000 0%, #f90000 48%, #f00000 49%, #b30000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e20000), color-stop(48%,#f90000), color-stop(49%,#f00000), color-stop(100%,#b30000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e20000 0%,#f90000 48%,#f00000 49%,#b30000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e20000 0%,#f90000 48%,#f00000 49%,#b30000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e20000 0%,#f90000 48%,#f00000 49%,#b30000 100%); /* IE10+ */
	background: linear-gradient(top,  #e20000 0%,#f90000 48%,#f00000 49%,#b30000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e20000', endColorstr='#b30000',GradientType=0 ); /* IE6-9 */

	-webkit-box-shadow: inset 0px 0px 50px 9px rgba(00, 00, 00, 0.5);
	box-shadow: inset 0px 0px 50px 9px rgba(00, 00, 00, 0.5);
}
.ui-btn-up-a a.ui-link-inherit {
	color: #FFFFFF /*{a-bup-color}*/;
}

.ui-btn-hover-a {
	border: 1px solid #7C7C7C /*{a-bhover-border}*/;
	background: #870D15 /*{a-bhover-background-color}*/;
	font-weight: bold;
	color: #FFFFFF /*{a-bhover-color}*/;
	text-shadow: 2px /*{a-bhover-shadow-x}*/ 2px /*{a-bhover-shadow-y}*/ 1px /*{a-bhover-shadow-radius}*/ #333333 /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #E61E2B /*{a-bhover-background-start}*/), to( #870D15 /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #E61E2B /*{a-bhover-background-start}*/, #870D15 /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #E61E2B /*{a-bhover-background-start}*/, #870D15 /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #E61E2B /*{a-bhover-background-start}*/, #870D15 /*{a-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #E61E2B /*{a-bhover-background-start}*/, #870D15 /*{a-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #E61E2B /*{a-bhover-background-start}*/, #870D15 /*{a-bhover-background-end}*/);

	-webkit-box-shadow: inset 0px 0px 50px 9px rgba(00, 00, 00, 0.5);
	box-shadow: inset 0px 0px 50px 9px rgba(00, 00, 00, 0.5);
}
.ui-btn-hover-a a.ui-link-inherit {
	color: #FFFFFF /*{a-bhover-color}*/;
}
.ui-btn-down-a {
	border: 1px solid #7C7C7C /*{a-bdown-border}*/;
	background: #570c10 /*{a-bdown-background-color}*/;
	font-weight: bold;
	color: #FFFFFF /*{a-bdown-color}*/;
	text-shadow: 2px /*{a-bdown-shadow-x}*/ 2px /*{a-bdown-shadow-y}*/ 1px /*{a-bdown-shadow-radius}*/ #333333 /*{a-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #870D15 /*{a-bdown-background-start}*/), to( #570c10 /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #870D15 /*{a-bdown-background-start}*/, #570c10 /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #870D15 /*{a-bdown-background-start}*/, #570c10 /*{a-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #870D15 /*{a-bdown-background-start}*/, #570c10 /*{a-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #870D15 /*{a-bdown-background-start}*/, #570c10 /*{a-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #870D15 /*{a-bdown-background-start}*/, #570c10 /*{a-bdown-background-end}*/);

	-webkit-box-shadow: inset 0px 0px 50px 9px rgba(00, 00, 00, 0.5);
	box-shadow: inset 0px 0px 50px 9px rgba(00, 00, 00, 0.5);
}
.ui-btn-down-a a.ui-link-inherit {
	color: #FFFFFF /*{a-bdown-color}*/;
}
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a {
	  font-family: Arial, Helvetica, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}

/* B
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-b {
	border: 1px solid #000000 /*{b-bar-border}*/;
	background: #666666 /*{b-bar-background-color}*/;
	color: #ffffff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 0 /*{b-bar-shadow-y}*/ 0 /*{b-bar-shadow-radius}*/ #000000 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #666666 /*{b-bar-background-start}*/), to( #666666 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #666666 /*{b-bar-background-start}*/, #666666 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #666666 /*{b-bar-background-start}*/, #666666 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #666666 /*{b-bar-background-start}*/, #666666 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #666666 /*{b-bar-background-start}*/, #666666 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #666666 /*{b-bar-background-start}*/, #666666 /*{b-bar-background-end}*/);
}

.ui-bar-b .ui-link-inherit {
	color: #ffffff /*{b-bar-color}*/;
}
.ui-bar-b .ui-link {
	color: #7cc4e7 /*{b-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-b .ui-link:hover {
	color: #2489CE /*{b-bar-link-hover}*/;
}

.ui-bar-b .ui-link:active {
	color: #2489CE /*{b-bar-link-active}*/;
}

.ui-bar-b .ui-link:visited {
    color: #2489CE /*{b-bar-link-visited}*/;
}

.ui-bar-b,
.ui-bar-b input,
.ui-bar-b select,
.ui-bar-b textarea,
.ui-bar-b button {
	  font-family: Arial, Helvetica, sans-serif /*{global-font-family}*/;
}
.ui-body-b,
.ui-overlay-b {
	border: 1px solid #333333 /*{b-body-border}*/;
	color: #333333 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 0 /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #000000 /*{b-body-shadow-color}*/;
	background: #ffffff /*{b-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{b-body-background-start}*/), to( #ffffff /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{b-body-background-start}*/, #ffffff /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{b-body-background-start}*/, #ffffff /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{b-body-background-start}*/, #ffffff /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{b-body-background-start}*/, #ffffff /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{b-body-background-start}*/, #ffffff /*{b-body-background-end}*/);
}
.ui-overlay-b {
	background-image: none;
	border-width: 0;
}
.ui-body-b,
.ui-body-b input,
.ui-body-b select,
.ui-body-b textarea,
.ui-body-b button {
	  font-family: Arial, Helvetica, sans-serif /*{global-font-family}*/;
}

.ui-body-b .ui-link-inherit {
	color: #333333 /*{b-body-color}*/;
}

.ui-body-b .ui-link {
	color: #00acf5 /*{b-body-link-color}*/;
	font-weight: bold;
}

.ui-body-b .ui-link:hover {
	color: #2489CE /*{b-body-link-hover}*/;
}

.ui-body-b .ui-link:active {
	color: #2489CE /*{b-body-link-active}*/;
}

.ui-body-b .ui-link:visited {
    color: #2489CE /*{b-body-link-visited}*/;
}

.ui-btn-up-b {
	border: 1px solid #000000 /*{b-bup-border}*/;
	background: #666666 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{b-bup-color}*/;
	text-shadow: 2px /*{b-bup-shadow-x}*/ 2px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #000000 /*{b-bup-shadow-color}*/;
	background-image: linear-gradient(top, #AEACAC 0%, #737070 49%, #5C5A5A 52%, #3E3B3C 100%);
	background-image: -o-linear-gradient(top, #AEACAC 0%, #737070 49%, #5C5A5A 52%, #3E3B3C 100%);
	background-image: -moz-linear-gradient(top, #AEACAC 0%, #737070 49%, #5C5A5A 52%, #3E3B3C 100%);
	background-image: -webkit-linear-gradient(top, #AEACAC 0%, #737070 49%, #5C5A5A 52%, #3E3B3C 100%);
	background-image: -ms-linear-gradient(top, #AEACAC 0%, #737070 49%, #5C5A5A 52%, #3E3B3C 100%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #AEACAC),
		color-stop(0.49, #737070),
		color-stop(0.52, #5C5A5A),
		color-stop(1, #3E3B3C)
	);
}
.ui-btn-up-b a.ui-link-inherit {
	color: #ffffff /*{b-bup-color}*/;
}

.ui-btn-hover-b {
	border: 1px solid #000000 /*{b-bhover-border}*/;
	background: #5C5C5C /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: #DCDCDC /*{b-bhover-color}*/;
	text-shadow: 2px /*{b-bhover-shadow-x}*/ 2px /*{b-bhover-shadow-y}*/ 2px /*{b-bhover-shadow-radius}*/ #000000 /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5c5c5c /*{b-bhover-background-start}*/), to( #5c5c5c /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #5c5c5c /*{b-bhover-background-start}*/, #5c5c5c /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #5c5c5c /*{b-bhover-background-start}*/, #5c5c5c /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #5c5c5c /*{b-bhover-background-start}*/, #5c5c5c /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #5c5c5c /*{b-bhover-background-start}*/, #5c5c5c /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #5c5c5c /*{b-bhover-background-start}*/, #5c5c5c /*{b-bhover-background-end}*/);
}
.ui-btn-hover-b a.ui-link-inherit {
	color: #DCDCDC /*{b-bhover-color}*/;
}
.ui-btn-down-b {
	border: 1px solid #1c1c1c /*{b-bdown-border}*/;
	background: #dedede /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: #383838 /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 0 /*{b-bdown-shadow-y}*/ 0 /*{b-bdown-shadow-radius}*/ #000000 /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #a4a4a4 /*{b-bdown-background-start}*/), to( #FFFFFF /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #a4a4a4 /*{b-bdown-background-start}*/, #FFFFFF /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #a4a4a4 /*{b-bdown-background-start}*/, #FFFFFF /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #a4a4a4 /*{b-bdown-background-start}*/, #FFFFFF /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #a4a4a4 /*{b-bdown-background-start}*/, #FFFFFF /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #a4a4a4 /*{b-bdown-background-start}*/, #FFFFFF /*{b-bdown-background-end}*/);
}
.ui-btn-down-b a.ui-link-inherit {
	color: #383838 /*{b-bdown-color}*/;
}
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b {
	  font-family: Arial, Helvetica, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}



/* C
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-c {
	border: 1px solid #B3B3B3 /*{c-bar-border}*/;
	background: #eeeeee /*{c-bar-background-color}*/;
	color: #3E3E3E /*{c-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{c-bar-shadow-x}*/ 1px /*{c-bar-shadow-y}*/ 1px /*{c-bar-shadow-radius}*/ #ffffff /*{c-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f0f0f0 /*{c-bar-background-start}*/), to( #dddddd /*{c-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f0f0f0 /*{c-bar-background-start}*/, #dddddd /*{c-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f0f0f0 /*{c-bar-background-start}*/, #dddddd /*{c-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f0f0f0 /*{c-bar-background-start}*/, #dddddd /*{c-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f0f0f0 /*{c-bar-background-start}*/, #dddddd /*{c-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f0f0f0 /*{c-bar-background-start}*/, #dddddd /*{c-bar-background-end}*/);
}

.ui-bar-c .ui-link-inherit {
	color: #3E3E3E /*{c-bar-color}*/;
}
.ui-bar-c .ui-link {
	color: #7cc4e7 /*{c-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-c .ui-link:hover {
	color: #2489CE /*{c-bar-link-hover}*/;
}

.ui-bar-c .ui-link:active {
	color: #2489CE /*{c-bar-link-active}*/;
}

.ui-bar-c .ui-link:visited {
    color: #2489CE /*{c-bar-link-visited}*/;
}

.ui-bar-c,
.ui-bar-c input,
.ui-bar-c select,
.ui-bar-c textarea,
.ui-bar-c button {
	  font-family: Arial, Helvetica, sans-serif /*{global-font-family}*/;
}
.ui-body-c,
.ui-overlay-c {
	border: 1px solid #aaaaaa /*{c-body-border}*/;
	color: #333333 /*{c-body-color}*/;
	text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #ffffff /*{c-body-shadow-color}*/;
	background: #ffffff /*{c-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{c-body-background-start}*/), to( #ffffff /*{c-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{c-body-background-start}*/, #ffffff /*{c-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{c-body-background-start}*/, #ffffff /*{c-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{c-body-background-start}*/, #ffffff /*{c-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{c-body-background-start}*/, #ffffff /*{c-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{c-body-background-start}*/, #ffffff /*{c-body-background-end}*/);
}
.ui-overlay-c {
	background-image: none;
	border-width: 0;
}
.ui-body-c,
.ui-body-c input,
.ui-body-c select,
.ui-body-c textarea,
.ui-body-c button {
	  font-family: Arial, Helvetica, sans-serif /*{global-font-family}*/;
}

.ui-body-c .ui-link-inherit {
	color: #333333 /*{c-body-color}*/;
}

.ui-body-c .ui-link {
	color: #2489CE /*{c-body-link-color}*/;
	font-weight: bold;
}

.ui-body-c .ui-link:hover {
	color: #2489CE /*{c-body-link-hover}*/;
}

.ui-body-c .ui-link:active {
	color: #2489CE /*{c-body-link-active}*/;
}

.ui-body-c .ui-link:visited {
    color: #2489CE /*{c-body-link-visited}*/;
}

.ui-btn-up-c {
	border: 1px solid #cccccc /*{c-bup-border}*/;
	background: #eeeeee /*{c-bup-background-color}*/;
	font-weight: bold;
	color: #2F3E46 /*{c-bup-color}*/;
	text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #ffffff /*{c-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
}
.ui-btn-up-c a.ui-link-inherit {
	color: #2F3E46 /*{c-bup-color}*/;
}

.ui-btn-hover-c {
	border: 1px solid #bbbbbb /*{c-bhover-border}*/;
	background: #dfdfdf /*{c-bhover-background-color}*/;
	font-weight: bold;
	color: #2F3E46 /*{c-bhover-color}*/;
	text-shadow: 0 /*{c-bhover-shadow-x}*/ 1px /*{c-bhover-shadow-y}*/ 0 /*{c-bhover-shadow-radius}*/ #ffffff /*{c-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 /*{c-bhover-background-start}*/), to( #e0e0e0 /*{c-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/);
}
.ui-btn-hover-c a.ui-link-inherit {
	color: #2F3E46 /*{c-bhover-color}*/;
}
.ui-btn-down-c {
	border: 1px solid #bbbbbb /*{c-bdown-border}*/;
	background: #d6d6d6 /*{c-bdown-background-color}*/;
	font-weight: bold;
	color: #2F3E46 /*{c-bdown-color}*/;
	text-shadow: 0 /*{c-bdown-shadow-x}*/ 1px /*{c-bdown-shadow-y}*/ 0 /*{c-bdown-shadow-radius}*/ #ffffff /*{c-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #d0d0d0 /*{c-bdown-background-start}*/), to( #dfdfdf /*{c-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/);
}
.ui-btn-down-c a.ui-link-inherit {
	color: #2F3E46 /*{c-bdown-color}*/;
}
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c {
	  font-family: Arial, Helvetica, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}



/* C
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-c {
	border: 1px solid #B3B3B3 /*{c-bar-border}*/;
	background: #eeeeee /*{c-bar-background-color}*/;
	color: #3E3E3E /*{c-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{c-bar-shadow-x}*/ 1px /*{c-bar-shadow-y}*/ 1px /*{c-bar-shadow-radius}*/ #ffffff /*{c-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f0f0f0 /*{c-bar-background-start}*/), to( #dddddd /*{c-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f0f0f0 /*{c-bar-background-start}*/, #dddddd /*{c-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f0f0f0 /*{c-bar-background-start}*/, #dddddd /*{c-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f0f0f0 /*{c-bar-background-start}*/, #dddddd /*{c-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f0f0f0 /*{c-bar-background-start}*/, #dddddd /*{c-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f0f0f0 /*{c-bar-background-start}*/, #dddddd /*{c-bar-background-end}*/);
}

.ui-bar-c .ui-link-inherit {
	color: #3E3E3E /*{c-bar-color}*/;
}
.ui-bar-c .ui-link {
	color: #7cc4e7 /*{c-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-c .ui-link:hover {
	color: #2489CE /*{c-bar-link-hover}*/;
}

.ui-bar-c .ui-link:active {
	color: #2489CE /*{c-bar-link-active}*/;
}

.ui-bar-c .ui-link:visited {
    color: #2489CE /*{c-bar-link-visited}*/;
}

.ui-bar-c,
.ui-bar-c input,
.ui-bar-c select,
.ui-bar-c textarea,
.ui-bar-c button {
	 font-family: Arial, Helvetica, sans-serif /*{global-font-family}*/;
}
.ui-body-c,
.ui-overlay-c {
	border: 1px solid #aaaaaa /*{c-body-border}*/;
	color: #333333 /*{c-body-color}*/;
	text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #ffffff /*{c-body-shadow-color}*/;
	background: #ffffff /*{c-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{c-body-background-start}*/), to( #ffffff /*{c-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{c-body-background-start}*/, #ffffff /*{c-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{c-body-background-start}*/, #ffffff /*{c-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{c-body-background-start}*/, #ffffff /*{c-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{c-body-background-start}*/, #ffffff /*{c-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{c-body-background-start}*/, #ffffff /*{c-body-background-end}*/);
}
.ui-overlay-c {
	background-image: none;
	border-width: 0;
}
.ui-body-c,
.ui-body-c input,
.ui-body-c select,
.ui-body-c textarea,
.ui-body-c button {
	 font-family: Arial, Helvetica, sans-serif /*{global-font-family}*/;
}

.ui-body-c .ui-link-inherit {
	color: #333333 /*{c-body-color}*/;
}

.ui-body-c .ui-link {
	color: #2489CE /*{c-body-link-color}*/;
	font-weight: bold;
}

.ui-body-c .ui-link:hover {
	color: #2489CE /*{c-body-link-hover}*/;
}

.ui-body-c .ui-link:active {
	color: #2489CE /*{c-body-link-active}*/;
}

.ui-body-c .ui-link:visited {
    color: #2489CE /*{c-body-link-visited}*/;
}

.ui-btn-up-c {
	border: 1px solid #cccccc /*{c-bup-border}*/;
	background: #eeeeee /*{c-bup-background-color}*/;
	font-weight: bold;
	color: #2F3E46 /*{c-bup-color}*/;
	text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #ffffff /*{c-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
}
.ui-btn-up-c a.ui-link-inherit {
	color: #2F3E46 /*{c-bup-color}*/;
}

.ui-btn-hover-c {
	border: 1px solid #bbbbbb /*{c-bhover-border}*/;
	background: #dfdfdf /*{c-bhover-background-color}*/;
	font-weight: bold;
	color: #2F3E46 /*{c-bhover-color}*/;
	text-shadow: 0 /*{c-bhover-shadow-x}*/ 1px /*{c-bhover-shadow-y}*/ 0 /*{c-bhover-shadow-radius}*/ #ffffff /*{c-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 /*{c-bhover-background-start}*/), to( #e0e0e0 /*{c-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/);
}
.ui-btn-hover-c a.ui-link-inherit {
	color: #2F3E46 /*{c-bhover-color}*/;
}
.ui-btn-down-c {
	border: 1px solid #bbbbbb /*{c-bdown-border}*/;
	background: #d6d6d6 /*{c-bdown-background-color}*/;
	font-weight: bold;
	color: #2F3E46 /*{c-bdown-color}*/;
	text-shadow: 0 /*{c-bdown-shadow-x}*/ 1px /*{c-bdown-shadow-y}*/ 0 /*{c-bdown-shadow-radius}*/ #ffffff /*{c-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #d0d0d0 /*{c-bdown-background-start}*/), to( #dfdfdf /*{c-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/);
}
.ui-btn-down-c a.ui-link-inherit {
	color: #2F3E46 /*{c-bdown-color}*/;
}
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c {
	 font-family: Arial, Helvetica, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}



/* Structure */

/* links within "buttons"
-----------------------------------------------------------------------------------------------------------*/

a.ui-link-inherit {
	text-decoration: none !important;
}


/* Active class used as the "on" state across all themes
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-active {
	border: 1px solid #222222 /*{global-active-border}*/;
	background: #444444 /*{global-active-background-color}*/;
	font-weight: bold;
	color: #eeeeee /*{global-active-color}*/;
	cursor: pointer;
	text-shadow: 0 /*{global-active-shadow-x}*/ 0 /*{global-active-shadow-y}*/ 3px /*{global-active-shadow-radius}*/ #000000 /*{global-active-shadow-color}*/;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #444444 /*{global-active-background-start}*/), to( #444444 /*{global-active-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #444444 /*{global-active-background-start}*/, #444444 /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #444444 /*{global-active-background-start}*/, #444444 /*{global-active-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #444444 /*{global-active-background-start}*/, #444444 /*{global-active-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #444444 /*{global-active-background-start}*/, #444444 /*{global-active-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #444444 /*{global-active-background-start}*/, #444444 /*{global-active-background-end}*/);
	  font-family: Arial, Helvetica, sans-serif /*{global-font-family}*/;
}
.ui-btn-active a.ui-link-inherit {
	color: #eeeeee /*{global-active-color}*/;
}


/* button inner top highlight
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-inner {
	border-top: 1px solid 	#fff;
	border-color: 			rgba(255,255,255,.3);
}


/* corner rounding classes
-----------------------------------------------------------------------------------------------------------*/

.ui-corner-tl {
	-moz-border-radius-topleft: 0.6em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 0.6em /*{global-radii-blocks}*/;
	border-top-left-radius: 0.6em /*{global-radii-blocks}*/;
}
.ui-corner-tr {
	-moz-border-radius-topright: 0.6em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 0.6em /*{global-radii-blocks}*/;
	border-top-right-radius: 0.6em /*{global-radii-blocks}*/;
}
.ui-corner-bl {
	-moz-border-radius-bottomleft: 0.6em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 0.6em /*{global-radii-blocks}*/;
	border-bottom-left-radius: 0.6em /*{global-radii-blocks}*/;
}
.ui-corner-br {
	-moz-border-radius-bottomright: 0.6em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: 0.6em /*{global-radii-blocks}*/;
	border-bottom-right-radius: 0.6em /*{global-radii-blocks}*/;
}
.ui-corner-top {
	-moz-border-radius-topleft: 0.6em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 0.6em /*{global-radii-blocks}*/;
	border-top-left-radius: 0.6em /*{global-radii-blocks}*/;
	-moz-border-radius-topright: 0.6em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 0.6em /*{global-radii-blocks}*/;
	border-top-right-radius: 0.6em /*{global-radii-blocks}*/;
}
.ui-corner-bottom {
	-moz-border-radius-bottomleft: 0.6em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 0.6em /*{global-radii-blocks}*/;
	border-bottom-left-radius: 0.6em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: 0.6em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: 0.6em /*{global-radii-blocks}*/;
	border-bottom-right-radius: 0.6em /*{global-radii-blocks}*/;
	}
.ui-corner-right {
	-moz-border-radius-topright: 0.6em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 0.6em /*{global-radii-blocks}*/;
	border-top-right-radius: 0.6em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: 0.6em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: 0.6em /*{global-radii-blocks}*/;
	border-bottom-right-radius: 0.6em /*{global-radii-blocks}*/;
}
.ui-corner-left {
	-moz-border-radius-topleft: 0.6em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 0.6em /*{global-radii-blocks}*/;
	border-top-left-radius: 0.6em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomleft: 0.6em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 0.6em /*{global-radii-blocks}*/;
	border-bottom-left-radius: 0.6em /*{global-radii-blocks}*/;
}
.ui-corner-all {
	-moz-border-radius: 0.6em /*{global-radii-blocks}*/;
	-webkit-border-radius: 0.6em /*{global-radii-blocks}*/;
	border-radius: 0.6em /*{global-radii-blocks}*/;
}
.ui-corner-none {
	-moz-border-radius: 				   0;
	-webkit-border-radius: 				   0;
	border-radius: 						   0;
}

/* Form field separator
-----------------------------------------------------------------------------------------------------------*/
.ui-br {
	border-bottom: rgb(130,130,130);
	border-bottom: rgba(130,130,130,.3);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

/* Interaction cues
-----------------------------------------------------------------------------------------------------------*/
.ui-disabled {
	opacity: 							.3;
}
.ui-disabled,
.ui-disabled a {
	cursor: default !important;
	pointer-events: none;
}
.ui-disabled .ui-btn-text {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=30)";
	filter: alpha(opacity=30);
	zoom: 1;
}

/* Icons
-----------------------------------------------------------------------------------------------------------*/

.ui-icon,
.ui-icon-searchfield:after {
	background: #FFFFFF /*{global-icon-color}*/;
	background: rgba(0,0,0,0.3) /*{global-icon-disc}*/;
	background-image: url(images/icons-18-white.png) /*{global-icon-set}*/;
	background-repeat: no-repeat;
	-moz-border-radius: 				9px;
	-webkit-border-radius: 				9px;
	border-radius: 						9px;
}


/* Alt icon color
-----------------------------------------------------------------------------------------------------------*/

.ui-icon-alt {
	background: 						#fff;
	background: 						rgba(255,255,255,.3);
	background-image: url(images/icons-18-black.png);
	background-repeat: no-repeat;
}

/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi) {

	.ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r,
	.ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check,
	.ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back,
	.ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-search, .ui-icon-searchfield:after,
	.ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on {
		background-image: undefined /*{global-large-icon-set}*/;
		-moz-background-size: 776px 18px;
		-o-background-size: 776px 18px;
		-webkit-background-size: 776px 18px;
		background-size: 776px 18px;
	}
	.ui-icon-alt {
		background-image: url(images/icons-36-black.png);
	}
}

/* plus minus */
.ui-icon-plus {
	background-position: 	-0 50%;
}
.ui-icon-minus {
	background-position: 	-36px 50%;
}

/* delete/close */
.ui-icon-delete {
	background-position: 	-72px 50%;
}

/* arrows */
.ui-icon-arrow-r {
	background-position: 	-108px 50%;
}
.ui-icon-arrow-l {
	background-position: 	-144px 50%;
}
.ui-icon-arrow-u {
	background-position: 	-180px 50%;
}
.ui-icon-arrow-d {
	background-position: 	-216px 50%;
}

/* misc */
.ui-icon-check {
	background-position: 	-252px 50%;
}
.ui-icon-gear {
	background-position: 	-288px 50%;
}
.ui-icon-refresh {
	background-position: 	-324px 50%;
}
.ui-icon-forward {
	background-position: 	-360px 50%;
}
.ui-icon-back {
	background-position: 	-396px 50%;
}
.ui-icon-grid {
	background-position: 	-432px 50%;
}
.ui-icon-star {
	background-position: 	-468px 50%;
}
.ui-icon-alert {
	background-position: 	-504px 50%;
}
.ui-icon-info {
	background-position: 	-540px 50%;
}
.ui-icon-home {
	background-position: 	-576px 50%;
}
.ui-icon-search,
.ui-icon-searchfield:after {
	background-position: 	-612px 50%;
}
.ui-icon-checkbox-off {
	background-position: 	-684px 50%;
}
.ui-icon-checkbox-on {
	background-position: 	-648px 50%;
}
.ui-icon-radio-off {
	background-position: 	-756px 50%;
}
.ui-icon-radio-on {
	background-position: 	-720px 50%;
}


/* checks,radios */
.ui-checkbox .ui-icon {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ui-icon-checkbox-off,
.ui-icon-radio-off {
	background-color: transparent;
}
.ui-checkbox-on .ui-icon,
.ui-radio-on .ui-icon {
	background-color: #444444 /*{global-active-background-color}*/; /* NOTE: this hex should match the active state color. It's repeated here for cascade */
}

/* loading icon */
.ui-icon-loading {
	background: url(images/ajax-loader.gif) no-repeat center;
	background-size: 32px 32px;
}


/* Button corner classes
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-corner-tl {
	-moz-border-radius-topleft: 0.6em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: 0.6em /*{global-radii-buttons}*/;
	border-top-left-radius: 0.6em /*{global-radii-buttons}*/;
}
.ui-btn-corner-tr {
	-moz-border-radius-topright: 0.6em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: 0.6em /*{global-radii-buttons}*/;
	border-top-right-radius: 0.6em /*{global-radii-buttons}*/;
}
.ui-btn-corner-bl {
	-moz-border-radius-bottomleft: 0.6em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: 0.6em /*{global-radii-buttons}*/;
	border-bottom-left-radius: 0.6em /*{global-radii-buttons}*/;
}
.ui-btn-corner-br {
	-moz-border-radius-bottomright: 0.6em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: 0.6em /*{global-radii-buttons}*/;
	border-bottom-right-radius: 0.6em /*{global-radii-buttons}*/;
}
.ui-btn-corner-top {
	-moz-border-radius-topleft: 0.6em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: 0.6em /*{global-radii-buttons}*/;
	border-top-left-radius: 0.6em /*{global-radii-buttons}*/;
	-moz-border-radius-topright: 0.6em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: 0.6em /*{global-radii-buttons}*/;
	border-top-right-radius: 0.6em /*{global-radii-buttons}*/;
}
.ui-btn-corner-bottom {
	-moz-border-radius-bottomleft: 0.6em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: 0.6em /*{global-radii-buttons}*/;
	border-bottom-left-radius: 0.6em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomright: 0.6em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: 0.6em /*{global-radii-buttons}*/;
	border-bottom-right-radius: 0.6em /*{global-radii-buttons}*/;
}
.ui-btn-corner-right {
	 -moz-border-radius-topright: 0.6em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: 0.6em /*{global-radii-buttons}*/;
	border-top-right-radius: 0.6em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomright: 0.6em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: 0.6em /*{global-radii-buttons}*/;
	border-bottom-right-radius: 0.6em /*{global-radii-buttons}*/;
}
.ui-btn-corner-left {
	-moz-border-radius-topleft: 0.6em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: 0.6em /*{global-radii-buttons}*/;
	border-top-left-radius: 0.6em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomleft: 0.6em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: 0.6em /*{global-radii-buttons}*/;
	border-bottom-left-radius: 0.6em /*{global-radii-buttons}*/;
}
.ui-btn-corner-all {
	-moz-border-radius: 0.6em /*{global-radii-buttons}*/;
	-webkit-border-radius: 0.6em /*{global-radii-buttons}*/;
	border-radius: 0.6em /*{global-radii-buttons}*/;
}

/* radius clip workaround for cleaning up corner trapping */
.ui-corner-tl,
.ui-corner-tr,
.ui-corner-bl,
.ui-corner-br,
.ui-corner-top,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-left,
.ui-corner-all,
.ui-btn-corner-tl,
.ui-btn-corner-tr,
.ui-btn-corner-bl,
.ui-btn-corner-br,
.ui-btn-corner-top,
.ui-btn-corner-bottom,
.ui-btn-corner-right,
.ui-btn-corner-left,
.ui-btn-corner-all {
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

/* Overlay / modal
-----------------------------------------------------------------------------------------------------------*/

.ui-overlay {
	background: #666;
	opacity: .5;
	filter: Alpha(Opacity=50);
	position: absolute;
	width: 100%;
	height: 100%;
}
.ui-overlay-shadow {
	-moz-box-shadow: 0px 0px 12px 			rgba(0,0,0,.6);
	-webkit-box-shadow: 0px 0px 12px 		rgba(0,0,0,.6);
	box-shadow: 0px 0px 12px 				rgba(0,0,0,.6);
}
.ui-shadow {
	-moz-box-shadow: 0px 1px 8px /*{global-box-shadow-size}*/ rgba(0,0,0,0.6) /*{global-box-shadow-color}*/;
	-webkit-box-shadow: 0px 1px 8px /*{global-box-shadow-size}*/ rgba(0,0,0,0.6) /*{global-box-shadow-color}*/;
	box-shadow: 0px 1px 8px /*{global-box-shadow-size}*/ rgba(0,0,0,0.6) /*{global-box-shadow-color}*/;
}
.ui-btn-up-a.ui-shadow {
	-webkit-box-shadow: inset 0px 0px 50px 9px rgba(00, 00, 00, 0.5);
	box-shadow: inset 0px 0px 50px 9px rgba(00, 00, 00, 0.5);
}
.ui-bar-b .ui-shadow ,
.ui-bar-c .ui-shadow  {
	-moz-box-shadow: 0px 1px 0 				rgba(255,255,255,.3);
	-webkit-box-shadow: 0px 1px 0 			rgba(255,255,255,.3);
	box-shadow: 0px 1px 0 					rgba(255,255,255,.3);
}
.ui-shadow-inset {
	-moz-box-shadow: inset 0px 1px 4px 		rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0px 1px 4px 	rgba(0,0,0,.2);
	box-shadow: inset 0px 1px 4px 			rgba(0,0,0,.2);
}
.ui-icon-shadow {
	-moz-box-shadow: 0px 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
	-webkit-box-shadow: 0px 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
	box-shadow: 0px 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
}

/* Focus state - set here for specificity (note: these classes are added by JavaScript)
-----------------------------------------------------------------------------------------------------------*/

.ui-btn:focus {
	outline: 0;
}

.ui-focus,
.ui-btn:focus {
	-moz-box-shadow: 0px 0px 12px #444444 /*{global-active-background-color}*/;
	-webkit-box-shadow: 0px 0px 12px #444444 /*{global-active-background-color}*/;
	box-shadow: 0px 0px 12px #444444 /*{global-active-background-color}*/;
}

/* unset box shadow in browsers that don't do it right
-----------------------------------------------------------------------------------------------------------*/

.ui-mobile-nosupport-boxshadow * {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/* ...and bring back focus */
.ui-mobile-nosupport-boxshadow .ui-focus,
.ui-mobile-nosupport-boxshadow .ui-btn:focus {
	outline-width: 1px;
	outline-style: dotted;
}
