.float-center{display:block;margin-left:auto;margin-right:auto}.coca-cola-game-icon-sample{margin-top:0.5em}ul.radio-horizontal{list-style:none;padding:5px 0 0;margin:0}ul.radio-horizontal li{display:block;float:left;margin-right:1em}ul.radio-horizontal li input{vertical-align:top}ul.radio-horizontal li label{display:inline-block;margin:0}.control-group p{margin:5px 0}table .btn-group .pull-right{float:none}#sf_guard_user_Profile_dob_day,#sf_guard_user_Profile_dob_month,#sf_guard_user_Profile_dob_year{width:74px}
