* {
	-webkit-text-size-adjust: none;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: gray;
	background: transparent;
	_background: transparent none;
	margin: 0;
}

input {
	font-family: Arial, Helvetica, sans-serif;
}

iframe {
	background: transparent;
	_background: transparent none;
}

/*
	Registration Widget
*/
.RegistrationWidget_registerUserStepTwo #submitButton, 
.ForgotResetPasswordWidget_start #submitButton, 
.RegistrationWidget_registerUserStepOne #submitButton, 
#MyNewLoginWidget #loginButton, #MyLoginWidget #loginButton, 
.ProfileWidget_updateEmailAddress #cancelButton, 
.ProfileWidget_updateEmailAddress #submitButton, 
.ProfileWidget_updateEmailOptions #submitButton, 
.ProfileWidget_updateEmailOptions #cancelButton, 
.ProfileWidget_updateProfileInfo #submitButton, 
.ProfileWidget_updateProfileInfo #cancelButton, 
.ForgotResetPasswordWidget_resetPassword #submitButton,
.LoginWidget_postLogin #submitButton
	{
	font-size: 0;
	display: block;
	line-height: 0;
	cursor: pointer;
	cursor: hand;
	margin: 0px;
	padding: 0px;
	border: 0px;
	text-align:left;
	text-indent:-3000px;
	padding-top: 100px !ie;
}

#MyProfileWidget {
	background: #FFFFFF;
}

.RegistrationWidget_confirmation .sectionHeading {
	text-indent: -2000px;
	width: 373px;
	height: 24px;
	background: url("/images/thankyou_reg.png") no-repeat center center;
}

.RegistrationWidget_confirmation #confirmation,
.RegistrationWidget_confirmation #formButtonsDiv
{
	display:none;
}

#MyLoginWidget,
.RegistrationWidget_registerUserStepOne,
.RegistrationWidget_registerUserStepTwo
{
	color: #4c4c4c;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
}

.RegistrationWidget_registerUserStepOne h1,
.RegistrationWidget_registerUserStepTwo h1
	{
	background: url(/images/widgetRegisterTitle.png);
	width: 284px;
	height: 24px;
	text-indent: -9999px;
	display: block;
}

.RegistrationWidget_registerUserStepOne #emailAddress_div {
	padding: 10px 0px 10px 0px;
}

.RegistrationWidget_registerUserStepTwo p#HOME_PHONE_1,
.RegistrationWidget_registerUserStepTwo p.HOME_PHONE_1_title{
	font-size: 10px;
	margin-left: 140px;
}

.RegistrationWidget_registerUserStepOne #emailAddress, 
.RegistrationWidget_registerUserStepOne #securityKey, 
.RegistrationWidget_registerUserStepTwo #FIRST_NAME,  
.RegistrationWidget_registerUserStepTwo #LAST_NAME, 
.RegistrationWidget_registerUserStepTwo #password, 
.RegistrationWidget_registerUserStepTwo #confirmPassword, 
.RegistrationWidget_registerUserStepTwo input#HOME_PHONE_1, 
.RegistrationWidget_registerUserStepTwo #POSTAL_CD, 
.ForgotResetPasswordWidget_start #userId, 
.ForgotResetPasswordWidget_start #securityKey, 
.ForgotResetPasswordWidget_resetPassword #newPassword, 
.ForgotResetPasswordWidget_resetPassword #confirmPassword 
{
	background: url(/images/widgetRegInput.png) no-repeat top left;
	width: 236px;
	height: 19px;
	border: 0px;
	padding: 2px 0px 2px 10px;
	color: #4C4C4C;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-size: 12px;
}

.RegistrationWidget_registerUserStepOne #for_securityKey,
.RegistrationWidget_registerUserStepOne #for_emailAddress,
.RegistrationWidget_registerUserStepOne #for_dateOfBirthLabel,
.RegistrationWidget_registerUserStepTwo #for_FIRST_NAME
{
	width: 110px;
	display: block;
	float: left;
	padding: 3px 0px 0px 0px;
}

.RegistrationWidget_registerUserStepTwo #messagesDiv {
	color: #E50000;
}

.RegistrationWidget_registerUserStepTwo #qs_5620383_div_title {
	padding: 0px 0px 10px 0px;
}

.RegistrationWidget_registerUserStepTwo #qs_1045_div {
	float: left;
	padding: 0px 5px 0px 0px;
}

.RegistrationWidget_registerUserStepTwo #for_qs_5620384 {
	padding: 0px 0px 0px 0px;
	margin: -20px 0px 0px 23px;
	width: 550px;
	display: block;
}

.RegistrationWidget_registerUserStepTwo .errorIcon,
.RegistrationWidget_registerUserStepOne .errorIcon,
.ProfileWidget_updateEmailAddress .errorIcon,
.ForgotResetPasswordWidget_start .errorIcon
	{
	background: green;
	width: 16px;
	height: 16px;
	display: block;
	position: absolute;
	margin: -20px 0px 0px 390px;
	background: url(/images/redicon.png);
}

.RegistrationWidget_registerUserStepOne .errorIcon {
	margin: -20px 0px 0px 370px;
}

.RegistrationWidget_registerUserStepTwo #GENDER_CD_div .errorIcon {
	margin: -25px 0px 0px 210px;
}

.RegistrationWidget_registerUserStepTwo #qs_119375_div .errorIcon {
	margin: -18px 0px 0px 205px;
}

.RegistrationWidget_registerUserStepTwo #qs_5620384_div .errorIcon {
	margin: -50px 0px 0px 585px;
}

.ProfileWidget_updateEmailAddress .errorIcon {
	margin: -20px 0px 0px 180px;
}

.RegistrationWidget_registerUserStepTwo #for_FIRST_NAME,
.RegistrationWidget_registerUserStepTwo #for_LAST_NAME,
.RegistrationWidget_registerUserStepTwo #for_password,
.RegistrationWidget_registerUserStepTwo #for_confirmPassword,
.RegistrationWidget_registerUserStepTwo #for_HOME_PHONE_1,
.RegistrationWidget_registerUserStepTwo #for_REGION,
.RegistrationWidget_registerUserStepTwo #for_POSTAL_CD,
.RegistrationWidget_registerUserStepTwo #GENDER_CD_div_title
{
	width: 130px;
	display: block;
	float: left;
	padding: 3px 0px 0px 0px;
}

.RegistrationWidget_registerUserStepTwo #REGION_div,
.RegistrationWidget_registerUserStepTwo #POSTAL_CD_div,
.RegistrationWidget_registerUserStepTwo #GENDER_CD_div
	{
	clear: both;
	display: block;
}

.RegistrationWidget_registerUserStepTwo #FIRST_NAME_div,
.RegistrationWidget_registerUserStepTwo #LAST_NAME_div,
.RegistrationWidget_registerUserStepTwo #password_div,
.RegistrationWidget_registerUserStepTwo #confirmPassword_div,
.RegistrationWidget_registerUserStepTwo #HOME_PHONE_1_div,
.RegistrationWidget_registerUserStepTwo #REGION_div,
.RegistrationWidget_registerUserStepTwo #POSTAL_CD_div,
.RegistrationWidget_registerUserStepTwo #GENDER_CD_div
{
	padding: 5px 0px 5px 0px;
}

.RegistrationWidget_registerUserStepTwo #noteLabel3_div_title {
	font-size: 10px;
	padding: 0px 0px 0px 140px;
}

.RegistrationWidget_registerUserStepTwo #M_div
{
	float: left;
	display: block;
}

.RegistrationWidget_registerUserStepTwo #qs_5620383_div_desc,
.RegistrationWidget_registerUserStepTwo #cancelButtonDiv,
.ForgotResetPasswordWidget_start #cancelButtonDiv
{
	display: none;
}

.RegistrationWidget_registerUserStepTwo #block4 {
	padding: 10px 0px 10px 0px;
	margin: 10px 0px 10px 0px;
	border-top: 1px solid #dedddd;
	border-bottom: 1px solid #dedddd;
	width: 600px;
}

.RegistrationWidget_registerUserStepTwo #qs_5620383_div,
.RegistrationWidget_registerUserStepTwo #qs_119375_div,
.RegistrationWidget_registerUserStepTwo #qs_5620384_div
	{
	padding: 3px 0px 3px 0px;
}

.RegistrationWidget_registerUserStepTwo #submitButton,
.ForgotResetPasswordWidget_start #submitButton,
.LoginWidget_postLogin #submitButton
	{
	width: 100px;
	height: 29px;
	background: url(/images/widgetSubmitBtn.png);
	display: block;
}

.RegistrationWidget_registerUserStepOne #captchaImage_div {
	padding-left: 110px;
}

.RegistrationWidget_registerUserStepOne #captchaInstruction_div,
.RegistrationWidget_registerUserStepOne #anotherCodeLink_div
	{
	position: absolute;
	top: 260px;
	left: 285px;
}

.RegistrationWidget_registerUserStepOne #anotherCodeLink_div {
	top: 280px;
}

.RegistrationWidget_registerUserStepOne #for_dateOfBirthLabel,
.RegistrationWidget_registerUserStepOne #day,
.RegistrationWidget_registerUserStepOne #month
	{
	float: left;
}

.RegistrationWidget_registerUserStepOne #day,
.RegistrationWidget_registerUserStepOne #month
	{
	margin: 0px 15px 0px 0px;
}

.RegistrationWidget_registerUserStepOne #country_div {
	border-top: 1px solid #dedddd;
	border-bottom: 1px solid #dedddd;
	padding: 10px 0px 10px 0px;
	margin: 15px 0px 15px 0px;
	width: auto;
}

.RegistrationWidget_registerUserStepOne #securityKey_div {
	padding: 0px 0px 15px 0px;
}

.RegistrationWidget_registerUserStepOne #anotherCodeLink {
	color: #e50000;
}

.RegistrationWidget_registerUserStepOne #cancelButtonDiv {
	display: none;
}

.RegistrationWidget_registerUserStepOne #formButtonsDiv {
	position: absolute;
	top: 340px;
}

.RegistrationWidget_registerUserStepOne #submitButton {
	width: 80px;
	height: 29px;
	background: url(/images/registrationNextBtn.png);
	display: block;
}

.RegistrationWidget_registerUserStepOne #messagesDiv {
	top: 50px;
	width: 410px;
	color: #E50000;
}

.RegistrationWidget_registerUserStepOne #messagesDiv p {
	margin: 0px;
	padding: 2px 5px 2px 5px;
}
/*footy inline login*/


#MyNewLoginWidget1 {
	line-height: 20px;
	line-height: 0 !ie;
	color: white;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}

#MyNewLoginWidget1 a {
	font-size: 11px;
	text-decoration: underline;
	color: red;
	font-style: normal;
	font-weight: bold;
}

#MyNewLoginWidget1 a:hover {
	text-decoration: none;
}

#MyNewLoginWidget1 #registerNowLink_div,
#MyNewLoginWidget1 #forgotPasswordLink_div
{
	height: auto;
}

#MyNewLoginWidget1 #altOptions {
	line-height: 15px;
	margin-top: 7px;
	float: left;
	clear: both;
}

#MyNewLoginWidget1 .sectionHeading,
#MyNewLoginWidget1 #rememberMe_div,
#MyNewLoginWidget1 #cancelButtonDiv,
#MyNewLoginWidget1 #otherLoginContent
{
	display: none;
}

#MyNewLoginWidget1 #loginButtonDiv {
	float: left;
	clear: both;
	width: 114px;
	height: 87px;
}

#MyNewLoginWidget1 #loginButton {
	padding: 0px;
	border: 0px;
	cursor: pointer;
	cursor: hand;
	padding-top: 100px ! ie;
	font-size: 0;
	display: block;
	background: url(/images/footy/submit.png) no-repeat;
	width: 114px;
	height: 87px;
	text-indent: -9999px;
	margin-top: 10px;
}
#MyNewLoginWidget1 #userId,
#MyNewLoginWidget1 #password {
	clear: both;
	float: left;
	border: 1px #a19d9e solid;
	height: 20px;
}

#MyNewLoginWidget1 #for_userId,
#MyNewLoginWidget1 #for_password {
	clear: both;
	float: left;
	font-size: 12px;
}

#MyNewLoginWidget1 .errorMessage {
	color: red;
	font-weight: bold;
	position: absolute;
	top: -15px;
	top: 0px !ie;
	left: 0px;
}

#MyNewLoginWidget1 #loginEntry{
	margin-top: 15px;
}

/*powerade promo inline login widget*/

#MyNewDuplicateLoginWidget {
	line-height: 20px;
	color: black;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

#MyNewDuplicateLoginWidget a {
	font-size: 11px;
	text-decoration: underline;
	color: black;
	font-style: italic;
	font-weight: normal;
}

#MyNewDuplicateLoginWidget a:hover {
	text-decoration: none;
}

#MyNewDuplicateLoginWidget #registerNowLink_div,
#MyNewDuplicateLoginWidget #forgotPasswordLink_div
{
	height: auto;
}

#MyNewDuplicateLoginWidget #altOptions {
	line-height: 15px;
	margin-top: 7px;
	float: left;
	clear: both;
}

#MyNewDuplicateLoginWidget .sectionHeading,
#MyNewDuplicateLoginWidget #rememberMe_div,
#MyNewDuplicateLoginWidget #cancelButtonDiv,
#MyNewDuplicateLoginWidget #otherLoginContent
{
	display: none;
}

#MyNewDuplicateLoginWidget #loginButtonDiv {
	float: right;
	width: 99px;
	height: 61px;
}

#MyNewDuplicateLoginWidget #loginButton {
	padding: 0px;
	border: 0px;
	cursor: pointer;
	cursor: hand;
	padding-top: 100px ! ie;
	font-size: 0;
	display: block;
	background: url(/images/powerade/submit.png) no-repeat;
	width: 99px;
	height: 61px;
	text-indent: -9999px;
}
#MyNewDuplicateLoginWidget #userId,
#MyNewDuplicateLoginWidget #password {
	clear: both;
	float: left;
	border: 1px #a19d9e solid;
	height: 20px;
}

#MyNewDuplicateLoginWidget #for_userId,
#MyNewDuplicateLoginWidget #for_password {
	clear: both;
	float: left;
	font-size: 12px;
}

#MyNewDuplicateLoginWidget .errorMessage {
	color: #00adee;
	font-weight: bold;
	position: absolute;
	top: -15px;
	top: 0px !ie;
	left: 0px;
}

#MyNewDuplicateLoginWidget #loginEntry{
	margin-top: 15px;
}

/*inline login widget*/
#MyPromoLoginWidget {
	line-height: 20px;
	color: white;
}

#MyPromoLoginWidget a {
	font-size: 12px;
	text-decoration: underline;
	color: black;
	font-style: italic;
}

#MyPromoLoginWidget a:hover {
	text-decoration: none;
}

#MyPromoLoginWidget #registerNowLink_div,
#MyPromoLoginWidget #forgotPasswordLink_div
{
	height: auto;
}

#MyPromoLoginWidget #altOptions {
	line-height: 15px;
	margin-top: 7px;
	float: left;
	clear: both;
}

#MyPromoLoginWidget .sectionHeading,
#MyPromoLoginWidget #rememberMe_div,
#MyPromoLoginWidget #cancelButtonDiv,
#MyPromoLoginWidget #otherLoginContent
{
	display: none;
}

#MyPromoLoginWidget #loginButtonDiv {
	float: right;
	width: 99px;
	height: 61px;
}

#MyPromoLoginWidget #loginButton {
	padding: 0px;
	border: 0px;
	cursor: pointer;
	cursor: hand;
	padding-top: 100px ! ie;
	font-size: 0;
	display: block;
	background: url(/images/win-a-bbq-promo-submit.png) no-repeat;
	width: 99px;
	height: 61px;
	text-indent: -9999px;
	position: relative;
	top: -14px;
	left: -3px;
}
#MyPromoLoginWidget #userId,
#MyPromoLoginWidget #password {
	clear: both;
	float: left;
}

#MyPromoLoginWidget #for_userId,
#MyPromoLoginWidget #for_password {
	clear: both;
	float: left;
	font-size: 14px;
}

#MyPromoLoginWidget .errorMessage {
	color: black;
	font-weight: bold;
	position: absolute;
	top: -15px;
	top: 0px !ie;
	left: 0px;
}

#MyPromoLoginWidget #loginEntry{
	margin-top: 15px;
}

/*inline login widget*/
#MyNewLoginWidget {
	font-family: Arial;
	line-height: 25px;
	color: #ffffff;
}

#MyNewLoginWidget a {
	font-size: 12px;
	text-decoration: underline;
	color: #0d3b81;
	font-weight: bold;
}

#MyNewLoginWidget a:hover {
	text-decoration: none;
}

#MyNewLoginWidget #registerNowLink_div,
#MyNewLoginWidget #forgotPasswordLink_div
{
	height: auto;
}

#MyNewLoginWidget #altOptions {
	line-height: 15px;
	margin-top: 7px;
	float: left;
	clear: both;
}

#MyNewLoginWidget .sectionHeading {
	color: #0d3b81;
	font-size: 18px;
	display: none;
}

#MyNewLoginWidget #rememberMe_div,
#MyNewLoginWidget #cancelButtonDiv,
#MyNewLoginWidget #otherLoginContent
{
	display: none;
}

#MyNewLoginWidget #loginButtonDiv {
	width: auto;
	float: right;
	position: relative;
	top: -32px;
	left: -40px;	
}

#MyNewLoginWidget #loginButton {
	width: 109px;
	height: 38px;
	padding: 0px;
	border: 0px;
	background: url(/fanta/img/btn_submit.png) no-repeat center top;
	cursor: pointer;
	cursor: hand;
	padding-top: 100px ! ie;
	font-size: 0;
	display: block;
	line-height: 0;
	text-align:left;
	text-indent:-3000px;
}

#MyNewLoginWidget #userId,#MyNewLoginWidget #password {
	clear: both;
	float: left;
	width: 200px;
	height: 25px;
	font-size: 14px;
}

#MyNewLoginWidget #for_userId,#MyNewLoginWidget #for_password {
	clear: both;
	float: left;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
}

#MyNewLoginWidget .errorMessage {
	color: #ffec00;
	font-weight: bold;
}

/*
	Login Widget
*/

#MyLoginWidget #welcomeMsg{
	width: 120px;
	height: 30px;
	margin-top: -10px;
	margin-bottom: 7px;
}


#MyLoginWidget form {
	margin-top: 10px;
}

#MyLoginWidget {
	font-size: 11px;
	color: #000000;
}

#MyLoginWidget a {
	color: #e22119;
}

#MyLoginWidget #myAccountlogOutButton {
	clear: both;
	height: 20px;
	float: left;
	position: relative;
	left: 0px;
	top: -7px;
	top: -10px ! ie;
}

#MyLoginWidget #myAccountLink_div,
#MyLoginWidget #logoutLink_div 
{
	float: left;
	width: auto;
}

#MyLoginWidget #myAccountLink_div {
	margin-right: 5px;
}

#MyLoginWidget #myAccountLink {
	width: 72px;
	height: 15px;
	margin: 0px;
	padding: 0px;
	background: url(/images/myAccountBtn.png);
	display: block;
	text-indent: -9999px;
	float: left;
}

#MyLoginWidget #myAccountLink:hover {
	background: url(/images/myAccountBtn.png) 0px 15px;
}

#MyLoginWidget #logoutLink {
	background: url("/images/logOutBtn.png");
	width: 45px;
	height: 15px;
	text-indent: -9999px;
	display: block;
}

#MyLoginWidget #logoutLink:hover {
	background: url("/images/logOutBtn.png") 0px 15px;
}

#MyLoginWidget #login {
	padding: 10px 0px 0px 0px;
}

#MyLoginWidget #messagesDiv {
	position: absolute;
	top: 0px;
	color: #e22119;
}

#MyLoginWidget #messagesDiv p {
	margin: 0px;
	padding: 0px;
}

#MyLoginWidget h1,
#MyLoginWidget #cancelButtonDiv,
#MyLoginWidget #for_userId,
#MyLoginWidget #for_password,
#MyLoginWidget #otherLoginContent
{
	display: none;
}

#MyLoginWidget #userId,
#MyLoginWidget #password 
{
	width: 160px;
	height: 20px;
	border: 0px;
	background: url(/images/loginInputBg.png) no-repeat top left;
	padding: 6px 0px 0px 10px;
	color: #e22119;
	float: left;
}

#MyLoginWidget #userId {
	margin: 0px 10px 0px 0px;
}

#MyLoginWidget #altOptions {
	padding: 3px 0px 0px 0px;
	clear: both;
}

#MyLoginWidget #rememberMe_div,
#MyLoginWidget #registerNowLink_div 
{
	float: left;
}

#MyLoginWidget #rememberMe_div {
	display: none;
}

#MyLoginWidget #welcomeText_label {
	color: red;
	font-weight: normal;
	float: left;
	padding-right: 10px;
	background: url("/images/dots.png") no-repeat 112px 6px;
	width: auto;
	max-width: 120px;
	overflow: hidden;
	height: 15px;
}

#MyLoginWidget #vs_rememberMe {
	margin: 0px;
	padding: 0px;
}

#MyLoginWidget #registerNowLink_div {
	margin: 0px 7px 0px 7px;
}

#MyLoginWidget #registerNowLink_div,
#MyLoginWidget #forgotPasswordLink_div
	{
	padding-top: 2px;
	width: auto;
}

#MyLoginWidget #loginButton {
	width: 64px;
	height: 22px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background: url(/images/loginBtn.png);
	cursor: pointer;
	cursor: hand;
	top: 47px;
	top: 0px !ie;
	left: 294px;
	position: absolute;
	padding-top: 100px ! ie;
	margin-top: 7px ! ie;
	text-align:left;
	text-indent:-3000px;
}

.LoginWidget_postLogin #widgetWrapper{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	color: black;
}

.LoginWidget_postLogin #formButtonsDiv,
.LoginWidget_postLogin #qs_5620384_div{
	clear:both;
	float:left;
}

.LoginWidget_postLogin .sectionHeading{
	display:none;
}

.LoginWidget_postLogin #FIRST_NAME_div,
.LoginWidget_postLogin #LAST_NAME_div,
.LoginWidget_postLogin #REGION_div,
.LoginWidget_postLogin #POSTAL_CD_div,
.LoginWidget_postLogin #HOME_PHONE_1_div,
.LoginWidget_postLogin #GENDER_CD_div {
	padding: 5px 0px 5px 0px;
}

.LoginWidget_postLogin #qs_1045_div,
.LoginWidget_postLogin #qs_1046_div{
	float: left;
	padding: 0px 10px 0px 0px;
	width: 50px;
}

.LoginWidget_postLogin #M_div {
	float: left;
	padding: 0px 10px 0px 0px;
}

.LoginWidget_postLogin #for_FIRST_NAME,
.LoginWidget_postLogin #for_LAST_NAME,
.LoginWidget_postLogin #for_REGION,
.LoginWidget_postLogin #for_POSTAL_CD,
.LoginWidget_postLogin #for_GENDER_CD,
.LoginWidget_postLogin #for_HOME_PHONE_1 {
	width: 110px;
	display: block;
	float: left;
	padding: 4px 0px 0px 0px;
	color: #3F3B3B;
}

.LoginWidget_postLogin #FIRST_NAME,
.LoginWidget_postLogin #LAST_NAME,
.LoginWidget_postLogin #POSTAL_CD,
.LoginWidget_postLogin input#HOME_PHONE_1 {
	background: url(/images/myAccountInput.png);
	width: 163px;
	height: 18px;
	border: 0px;
	padding: 5px 0px 0px 10px;
}

.LoginWidget_postLogin #submitButton {
	margin: 15px 0px 0px 0px;
}

.LoginWidget_postLogin #qs_119375_div{
	margin-top: 20px;
	margin-left: 110px;
}

.LoginWidget_postLogin #qs_5620384_div,
.LoginWidget_postLogin #qs_5620383_div,
.LoginWidget_postLogin #GENDER_CD_div{
	margin-top: 20px;
}




/*
	My Profile Widget
*/
.ProfileWidget_updateEmailAddress,
.ProfileWidget_viewEmailAddress 
{
	color: #4c4c4c;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
}

.ProfileWidget_viewEmailAddress #successLabel_div 
{
	color: #E50000;
	position: absolute;
	top: 43px;
	top: 36px !ie;
}

.ProfileWidget_updateEmailAddress h1,
.ProfileWidget_viewEmailAddress h1
{
	width: 150px;
	height: 40px;
	background: url(/images/changeEmailPopUpHeading.png) no-repeat;
	text-indent: -9999px;
	margin: 0px;
	padding: 0px 0px 10px 0px;
}

.ProfileWidget_viewEmailAddress #editLink {
	width: 63px;
	height: 22px;
	background: url(/images/widgetEditBtn.png) no-repeat;
	text-indent: -9999px;
	padding-top: 100px !ie;
	display: block;
}

#currentEmailAddressLabel_div_title {
	float: left;
	padding: 0px 10px 0px 0px;
	font-weight: bold;
}

.ProfileWidget_updateEmailAddress #messagesDiv {
	color: #E50000;
}

.ProfileWidget_updateEmailAddress #messagesDiv p {
	padding: 0px;
	margin: 0px;
}

.ProfileWidget_updateEmailAddress #emailAddressLabel_div_title {
	float: left;
	width: 200px;
}

.ProfileWidget_updateEmailAddress #for_emailAddress1,
.ProfileWidget_updateEmailAddress #for_emailAddress2,
.ProfileWidget_updateEmailAddress #for_securityKey
{
	width: 200px;
	display: block;
	float: left;
	padding: 4px 0px 0px 0px;
}

.ProfileWidget_updateEmailAddress #emailAddress1_div,
.ProfileWidget_updateEmailAddress #emailAddress2_div,
.ProfileWidget_updateEmailAddress #securityKey_div
{
	padding: 0px 0px 10px 0px;
}

.ProfileWidget_updateEmailAddress #emailAddress1,
.ProfileWidget_updateEmailAddress #emailAddress2,
.ProfileWidget_updateEmailAddress #securityKey
	{
	background: url(/images/myAccountInput.png) no-repeat top left;
	width: 163px;
	height: 23px;
	border: 0px;
	padding: 0px 0px 0px 10px;
}

.ProfileWidget_updateEmailAddress #captchaImage_div {
	padding: 0px 0px 0px 200px;
}

.ProfileWidget_updateEmailAddress #captchaInstruction_div,
.ProfileWidget_updateEmailAddress #anotherCodeLink_div,
.ProfileWidget_updateEmailAddress #helpTextDiv
{
	display: none;
}

.ProfileWidget_updateEmailAddress #formButtonsDiv,
.ProfileWidget_updateEmailOptions #formButtonsDiv,
.ProfileWidget_updateProfileInfo #formButtonsDiv
{
	display: block;
	width: 600px;
	height: 30px;
	padding: 10px 0px 0px 0px;
	margin: 30px 0px 0px 0px;
	border-top: 1px solid #e2dede;
}

.ProfileWidget_updateEmailAddress #cancelButton,
.ProfileWidget_updateEmailAddress #submitButton,
.ProfileWidget_updateEmailOptions #submitButton,
.ProfileWidget_updateEmailOptions #cancelButton,
.ProfileWidget_updateProfileInfo #submitButton,
.ProfileWidget_updateProfileInfo #cancelButton
{
	width: 114px;
	height: 22px;
	float: left;
	display: block;
}

.ProfileWidget_updateEmailAddress #submitButton,
.ProfileWidget_updateEmailOptions #submitButton,
.ProfileWidget_updateProfileInfo #submitButton
{
	background: url(/images/saveChangesBtn.png);
	margin: 0px 0px 0px 105px;
}

.ProfileWidget_updateEmailAddress #cancelButton,
.ProfileWidget_updateEmailOptions #cancelButton,
.ProfileWidget_updateProfileInfo #cancelButton
{
	background: url(/images/cancelBtn.png);
}

.ProfileWidget_updateEmailOptions,.ProfileWidget_viewEmailOptions {
	color: #4c4c4c;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
}

.ProfileWidget_viewEmailOptions #emailOptions_div_title {
	font-weight: bold;
	padding-top: 10px;
}

.ProfileWidget_viewEmailOptions #emailOptionsStatus_div {
	padding: 0px 0px 0px 20px;
}

.ProfileWidget_viewEmailOptions #successLabel_div {
	color: #E50000;
	position: absolute;
	top: 40px;
}

.ProfileWidget_viewProfileInfo div#successLabel_div {
	color: #E50000;
	position: absolute;
	top: 15px;
}

.ProfileWidget_viewProfileInfo #editProfile{
	display: block;
	position: absolute;
	top: 290px;
	top: 310px !ie;
	left: 0px;
	width: 63px;
	height: 22px;
	background: url(/images/widgetEditBtn.png) no-repeat top left;
	text-indent: -2000px;
}

.ProfileWidget_updateEmailOptions h1,
.ProfileWidget_viewEmailOptions h1
{
	width: 143px;
	height: 40px;
	background: url(/images/changeNotificationPopUpHeading.png) no-repeat;
	text-indent: -9999px;
	margin: 0px;
	padding: 0px 0px 10px 0px;
}

.ProfileWidget_updateEmailOptions p {
	margin: 0px;
	padding: 0px 0px 10px 0px;
}

.ProfileWidget_updateEmailOptions #qs_5620385_div {
	padding: 0px 0px 20px 0px;
}

.ProfileWidget_updateEmailOptions #qs_1045_div {
	float: left;
	padding: 0px 10px 0px 0px;
}

.ProfileWidget_updateEmailOptions #qs_5620385_div_title,
.ProfileWidget_updateEmailOptions #qs_5620386_div_title,
.ProfileWidget_updateEmailOptions #qs_5620387_div_title
{
	width: 60px;
	display: block;
	float: left;
}

.ProfileWidget_updateEmailOptions #qs_5620387_div {
	padding: 10px 0px 0px 0px;
}

.ProfileWidget_viewEmailOptions #editEmailOptions {
	width: 63px;
	height: 22px;
	background: url(/images/widgetEditBtn.png) no-repeat;
	text-indent: -9999px;
	display: block;
	padding-top: 100px !ie;
}

#helpTextDiv {
	display: none;
}

.ProfileWidget_updateProfileInfo {
	color: #4c4c4c;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
}

.ProfileWidget_updateProfileInfo h1 {
	width: 162px;
	height: 37px;
	background: url(/images/myAccountPopUpHeading.png);
	text-indent: -9999px;
	margin: 0px;
	padding: 0px;
}

.ProfileWidget_updateProfileInfo #FIRST_NAME,
.ProfileWidget_updateProfileInfo #LAST_NAME,
.ProfileWidget_updateProfileInfo #HOME_PHONE_1,
.ProfileWidget_updateProfileInfo #POSTAL_CD
	{
	background: url(/images/myAccountInput.png) no-repeat top left;
	width: 163px;
	height: 23px;
	border: 0px;
	padding: 0px 0px 0px 10px;
}

.ProfileWidget_updateProfileInfo #for_FIRST_NAME,
.ProfileWidget_updateProfileInfo #for_LAST_NAME,
.ProfileWidget_updateProfileInfo #for_GENDER_CD,
.ProfileWidget_updateProfileInfo #for_HOME_PHONE_1,
.ProfileWidget_updateProfileInfo #for_POSTAL_CD,
.ProfileWidget_updateProfileInfo #REGION_div_title,
.ProfileWidget_updateProfileInfo #countryLabel_div_title,
.ProfileWidget_updateProfileInfo #dobLabel_div_title
{
	width: 110px;
	display: block;
	float: left;
	padding: 4px 0px 0px 0px;
}

.ProfileWidget_updateProfileInfo #FIRST_NAME_div,
.ProfileWidget_updateProfileInfo #LAST_NAME_div,
.ProfileWidget_updateProfileInfo #GENDER_CD_div,
.ProfileWidget_updateProfileInfo #HOME_PHONE_1_div,
.ProfileWidget_updateProfileInfo #POSTAL_CD_div,
.ProfileWidget_updateProfileInfo #REGION_div
{
	padding: 10px 0px 0px 0px;
	clear: both;
}

.ProfileWidget_updateProfileInfo #submitButton {
	margin: 0px 0px 0px 55px;
}

.ProfileWidget_viewProfileInfo, 
.ForgotResetPasswordWidget_start, 
.ForgotResetPasswordWidget_forgotConfirm, 
.ForgotResetPasswordWidget_resetPassword {
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	color: #4C4C4C;
	font-size: 12px;
}

.ForgotResetPasswordWidget_start #userId_div,
.ForgotResetPasswordWidget_start #securityKey_div
{
	padding: 10px 0px 0px 10px;
}

.ForgotResetPasswordWidget_start #for_userId,
.ForgotResetPasswordWidget_start #for_securityKey
{
	float: left;
	padding: 3px 0px 0px 0px;
	width: 120px;
}

.ForgotResetPasswordWidget_start #captchaImage_div {
	padding: 10px 0px 0px 140px;
}

.ForgotResetPasswordWidget_start #captchaInstruction_div,
.ForgotResetPasswordWidget_start #anotherCodeLink_div
{
	position: absolute;
	top: 180px;
	left: 310px;
}

.ForgotResetPasswordWidget_start #anotherCodeLink_div {
	top: 200px;
}

.ForgotResetPasswordWidget_start #messagesDiv,
.ForgotResetPasswordWidget_start a
	{
	color: #E22119;
}

.ForgotResetPasswordWidget_start #submitButtonDiv {
	margin: 20px 0px 0px 0px;
}

.ForgotResetPasswordWidget_start #forgotPasswordHeaderInstruction_div {
	font-weight: bold;
}

.ForgotResetPasswordWidget_start .errorIcon {
	margin: -20px 0px 0px 380px;
}

.ProfileWidget_viewProfileInfo h1 {
	width: 121px;
	height: 15px;
	background: url(/images/profileInfoPopUpHeading.png) no-repeat;
	text-indent: -9999px;
	margin: 0px;
	padding: 0px 0px 10px 0px;
}

.ProfileWidget_viewProfileInfo #for_FIRST_NAME,
.ProfileWidget_viewProfileInfo #for_LAST_NAME,
.ProfileWidget_viewProfileInfo #for_GENDER_CD,
.ProfileWidget_viewProfileInfo #for_HOME_PHONE_1,
.ProfileWidget_viewProfileInfo #for_REGION,
.ProfileWidget_viewProfileInfo #for_POSTAL_CD,
.ProfileWidget_viewProfileInfo #for_countryLabel,
.ProfileWidget_viewProfileInfo #for_dobLabel
{
	float: left;
	width: 120px;
	font-weight: bold;
}

.ProfileWidget_viewProfileInfo #successLabel_div {
	color: #E22119;
}

.ForgotResetPasswordWidget_start h1, 
.ForgotResetPasswordWidget_forgotConfirm h1 
{
	width: 260px;
	height: 24px;
	background: url(/images/widgetForgorPasswordTitle.png) no-repeat;
	text-indent: -9999px;
}

.ForgotResetPasswordWidget_forgotConfirm h1 {
	margin: 0px;
	padding: 0px 0px 10px 0px;
}

.ForgotResetPasswordWidget_forgotConfirm #formButtonsDiv {
	display: none;
}

.ForgotResetPasswordWidget_forgotConfirm #resendEmailLink_div a {
	margin: 10px 0px 0px 0px;
	display: block;
	width: 122px;
	height: 22px;
	background: url(/images/resendEmailBtn.png) no-repeat;
	text-indent: -9999px;
	padding-top: 100px !ie;
}

.ForgotResetPasswordWidget_resetPassword h1 {
	width: 358px;
	height: 19px;
	background: url(/images/resetYourPasswordTitle.png) no-repeat;
	text-indent: -9999px;
}
.ForgotResetPasswordWidget_resetPassword #resetPasswordHeaderInstruction1_div {
	font-weight: bold;
}
.ForgotResetPasswordWidget_resetPassword #resetPasswordHeaderInstruction2_div_title {
	padding: 0px 0px 15px 0px;
}
.ForgotResetPasswordWidget_resetPassword #newPassword_div, #confirmPassword_div {
	padding: 0px 0px 10px 0px;
}
.ForgotResetPasswordWidget_resetPassword #cancelButtonDiv {
	display: none;
}
.ForgotResetPasswordWidget_resetPassword #submitButton {
	width: 80px;
	height: 29px;
	background: url(/images/registrationNextBtn.png);
	display:block;
	margin: 10px 0px 0px 0px;
}
.ForgotResetPasswordWidget_resetPassword #for_newPassword, 
.ForgotResetPasswordWidget_resetPassword #for_confirmPassword {
	width: 180px;
	padding: 4px 0px 0px 0px;
	display: block;
	float: left;
}
/*
	IE 7 Hack's
*/
*:first-child+html #MyLoginWidget #loginButton {
	top: 60px;
}

*:first-child+html .RegistrationWidget_registerUserStepOne #submitButton
	{
	float: left;
}

*:first-child+html .RegistrationWidget_registerUserStepOne #emailAddress_div .errorIcon
	{
	margin: 5px 0px 0px 10px;
	position: absolute;
}

*:first-child+html .RegistrationWidget_registerUserStepOne #block2 .errorIcon
	{
	margin: -20px 0px 0px 365px;
	position: absolute;
}

*:first-child+html .RegistrationWidget_registerUserStepOne #country_div .errorIcon
	{
	margin: 3px 0px 0px 10px;
	position: absolute;
}

*:first-child+html .RegistrationWidget_registerUserStepOne #securityKey_div .errorIcon
	{
	margin: 4px 0px 0px 10px;
	position: absolute;
}

*:first-child+html .ProfileWidget_updateEmailAddress #emailAddress1_div .errorIcon,*:first-child+html .ProfileWidget_updateEmailAddress #emailAddress2_div .errorIcon,*:first-child+html .ProfileWidget_updateEmailAddress #securityKey_div .errorIcon
	{
	margin: 4px 0px 0px -195px;
}

/* My Account input positioning */
*:first-child+html .ProfileWidget_updateProfileInfo #FIRST_NAME,*:first-child+html .ProfileWidget_updateProfileInfo #LAST_NAME,*:first-child+html .ProfileWidget_updateProfileInfo #GENDER_CD,*:first-child+html .ProfileWidget_updateProfileInfo #HOME_PHONE_1,*:first-child+html .ProfileWidget_updateProfileInfo #POSTAL_CD,.ProfileWidget_updateEmailAddress #emailAddress1,.ProfileWidget_updateEmailAddress #emailAddress2,.ProfileWidget_updateEmailAddress #securityKey
	{
	height: 19px;
	padding: 4px 0px 0px 10px;
}

*:first-child+html .ForgotResetPasswordWidget_start #userId,*:first-child+html .ForgotResetPasswordWidget_start #securityKey,*:first-child+html .ForgotResetPasswordWidget_start #securityKey
	{
	height: 18px;
	padding: 5px 0px 0px 10px;
}

.ProfileWidget_updateEmailOptions form {
	margin: 0px;
	padding: 0px;
}
/*
	IE 8 Hack's
*/
.ProfileWidget_updateProfileInfo #FIRST_NAME, .ProfileWidget_updateProfileInfo #LAST_NAME, .ProfileWidget_updateProfileInfo #HOME_PHONE_1, .ProfileWidget_updateProfileInfo #POSTAL_CD {
	padding /*\**/: 4px 0px 0px 10px;
	height /*\**/: 19px;
}
/*
	Safary Hack's
*/
@media screen and (-webkit-min-device-pixel-ratio:0){
	.RegistrationWidget_registerUserStepOne #year {
		margin: -1px 0px 0px 0px;
	}
}








