html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }


/* Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/  */
body { font:13px/1.231 sans-serif; *font-size:small; } /* hack to preserve specificity */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/* ************************ BASE STYLES **************************** */

/* accessible focus treatment */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

/* Set sub, sup without affecting line-height */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* remove ie scroll bars */

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* align checkboxes, radios, text inputs with their label  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* text selection */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* make buttons play nice in IE */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG */
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {
  color: #444;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


/*************************************                ****************************************/
/*									   PRIMARY STYLES 	*/
/*************************************                ****************************************/



#container{ background:#d8dfeb; width:560px; margin:0 auto;}

#jp_container_1 .jp-gui{ width:234px; height:75px; background:url(../img/player.png) top left no-repeat; position:relative; margin:0 auto;}
#jp_container_1 .jp-play{display:block; position:absolute; top:13px; left:13px; width:44px; height:46px; background:url(../img/btn-play.png) left top no-repeat;}
#jp_container_1 .jp-pause{display:block; position:absolute; top:13px; left:13px; width:44px; height:46px; background:url(../img/btn-pause.png) left top no-repeat;}
#jp_container_1 .jp-mute, #jp_container_1 .jp-unmute{display:block; position:absolute; top:34px; left:216px; width:13px; height:13px; background:url(../img/btn-mute.png) left top no-repeat;}
#jp_container_1 .jp-unmute{background:url(../img/btn-unmute.png) left top no-repeat;}

#jp_container_1 .jp-title{ position:absolute; width:137px; height:15px; overflow:hidden; font-size:9px; color:#fff; left:68px; top:9px; line-height:15px; font-weight:normal;}
#jp_container_1 .jp-gui a{ text-indent:-9999em;}

#jp_container_1 .jp-current-time{display:block; position:absolute; top:25px; left:102px; width:25px; height:25px; background:url(../img/timer.png) left top no-repeat; line-height:25px; font-size:9px; color:#333; padding:0 10px 0 10px; text-shadow: 1px 1px 0px #FFFFFF;
filter: dropshadow(color=#FFFFFF, offx=1, offy=1); }

#jp_container_1 .jp-play-bar{ height:15px; background: #e7010c;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3MDEwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNzAxMGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #e7010c 0%, #b7010a 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7010c), color-stop(100%,#b7010a));
background: -webkit-linear-gradient(top,  #e7010c 0%,#b7010a 100%);
background: -o-linear-gradient(top,  #e7010c 0%,#b7010a 100%);
background: -ms-linear-gradient(top,  #e7010c 0%,#b7010a 100%);
background: linear-gradient(top,  #e7010c 0%,#b7010a 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7010c', endColorstr='#b7010a',GradientType=0 );

-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;

border:1px solid #e0686e;

-webkit-box-shadow: 0px 0px 0px 1px #fa000c;
-moz-box-shadow: 0px 0px 0px 1px #fa000c;
box-shadow: 0px 0px 0px 1px #fa000c; 

}

#jp_container_1 .jp-progress{width:140px; height:15px; top:29px; left:61px; position:absolute;}
#jp_container_1 .jp-seek-bar{ height:15px;  }


/******************** EOF PRIMARY STYLES ***************/

/*** Non-semantic helper classes: please define your styles before this section. */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* clearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.clear{display: block;clear: both;height: 0px;overflow: hidden;font-size: 0px;line-height:0px;}

/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome) */
@media screen and (max-device-width: 480px) {


  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


/**
 * Print styles.
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

