#map_canvas {
  width: 100%;
  height: 400px;
}
.ui-content.coke_finder {

  .ui-navbar {
    margin-bottom: 5px;

    .ui-btn-active {
      background: #f40000;
      color: #ffffff;
    }

    .ui-btn-text {
      font-size: 110%;
    }
  }

  .message {
    margin: 10px;
    padding: 10px;
    @include border-radius(6px);
    background-color: #f2f2f2;
    text-align: center;
  }

  .error_list {
    list-style-type: none;
    padding: 0;
    margin: 0.7em 0 0 0;
    float: right;
    color: #d31f2b;
    font-weight: bold;
    font-size: 95%;
  }

  form label {
    float: left;
  }
}
.locations {
  list-style-type: none;
  margin: 0;
  padding: 0;


  li {
    background-color: #ebebeb;
    margin-bottom: 5px;
    padding: 8px;
    @include clearfix;


  }
}

.locations, .info_window {
  .icon {
    background: #231f20 no-repeat center;
    background-size: 85%;
    width: 40px;
    height: 40px;
    float: left;
    padding: 4px;
    @include border-radius(6px);
  }

  .icon_mcdonalds {
    background-image: url('/images/mobile/icon-mcdonalds.png');
  }
  .icon_z-energy {
    background-image: url('/images/mobile/icon-z-energy.png');
  }
  .icon_caltex {
    background-image: url('/images/mobile/icon-caltex.png');
  }
  .icon_fix {
    background-image: url(/images/mobile/icon-fix.png);
  }
  .icon_bp {
    background-image: url(/images/mobile/icon-bp.png);
  }
  .icon_mobil {
    background-image: url(/images/mobile/icon-mobil.png);
  }
  .icon_hell-pizza {
    background-image: url(/images/mobile/icon-hell-pizza.png);
  }
  .icon_wendys {
    background-image: url(/images/mobile/icon-wendys.png);
  }


  .location {
    float: left;
    padding: 2px 5px;
    width: 61%;
    .name {
      font-size: 110%;
      color: #ce0000;
      white-space: nowrap;
    }
    .address, .suburb {
      font-size: 75%;
    }
  }

  .distance {
    font-size: 110%;
    height: 50px;
    line-height: 50px;
    float: right;
    vertical-align:middle;
  }

}

.info_window {
  width: 250px;

  .icon {
    width: 30px;
    height: 30px;
  }

  .location {
    width: 140px;

    .address {
      color: #ce0000;
    }
  }
  .distance {
    margin-top: 10px;
    width: 50px;
    font-size: 100%;
  }
}

