.coke-card-header {
  background-color: #f40000;
  padding: 8px 0;
  img {
    display: block;
    margin: 0 auto;
  }

  &.large img {
    width: 70%;
  }

  &.med img {
    width: 50%;
  }
}


.coke_card_content {

  font-size: 90%;

  h3,h4 {
    color: #da343e;
    margin: 1em 0 0 0;
  }

  p {
    margin: 0 0 1em 0;
  }

}
.coke_card_locations
{
  .ui-btn-text {
    font-size: 96%;
    white-space: normal;
  }

  margin-bottom: 50px
}

.coke_card_content {
  padding: 10px;
}

.content_box_red {
  background-color: #bd1521;
  @include border-radius(10px);
  color: white;
  padding: 12px;
  font-size: 80%;

  p {
    margin: 0;
  }
}

//Generate number sprite
@import "mobile/coke-card/numbers/*.png";
@include all-numbers-sprites;

.stamp_card {
  width: 100%;
  display: block;
  margin-bottom: 30px;

  @include clearfix;
}

.stamp {
  width: 100px;
  height: 100px;
  border: 4px solid #c41623;
  @include border-radius(20px);

  margin: 8px;
  float: left;
  position: relative;

  &.redeemed, &.remaining {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
  }

  &.free {
    background-color: #c41623;

    .text {
      color: white;
      font-size: 180%;
      font-weight: bold;
      text-align: center;
      margin-top: 22%;
      line-height: 90%;
      text-decoration: none;
    }
  }

  .icon {
    background: url('/images/mobile/coke-card/stamp-icon.png') no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: 75%;
  }

  .numbers-sprite {
    position: absolute;
    bottom: -6px;
    right: -2px;
    width: 47px;
    height: 49px;
    background-size: 97%
  }

  .black_overlay {
    background: rgba(0,0,0,0.7);
    @include border-radius(20px);
    position: absolute;
    top: -4px;
    left: -4px;
    width: 108px;
    height: 108px;
  }

}
//Galaxy S
@media all and (max-width: 360px) {

  .stamp {
    width: 85px;
    height: 85px;


    .black_overlay {
      width: 93px;
      height: 93px;
    }
  }

}

//Galaxy S
@media all and (max-width: 320px) {

  .stamp {
    width: 75px;
    height: 75px;
    
    
    .black_overlay {
      width: 83px;
      height: 83px;
    }
  }

}