@import '_normalize';


$textWhite: white;
$textBlack: black;
$textSubtleGrey: #666666;
$textErrorRed: #F40009; //review
$textCokeRed: #EC1C15;

$backgroundWhite: white;
$backgroundLighterRed: #F40009;
$backgroundDarkerRed: #6C1815;

$buttonGradientStart: #EC1F18;
$buttonGradientEnd: #B11712;

@font-face {
  font-family: 'youregular';
  src: url('../fonts/you-webfont.eot');
  src: url('../fonts/you-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/you-webfont.woff') format('woff'),
  url('../fonts/you-webfont.ttf') format('truetype'),
  url('../fonts/you-webfont.svg#youregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
.you{
  font-family: 'youregular' !important;
  *{
    font-family: 'youregular' !important;
  }
}


//Title 1 & 2
.title_1, .title_2{
  color: $textBlack;
  display: inline-block;
  width: 90%;
  font-size: 22px;
  font-weight: normal;
  margin: 10px;
  margin-bottom: 0px;
  &.title_2{
    font-size: 18px;
  }
}

//Title 1
.subtle_text_1, .subtle_error_1{
  color: $textSubtleGrey;
  display: inline-block;
  width: 90%;
  font-size: 12px;
  font-weight: lighter;
  margin: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
  &.subtle_error_1{
    margin-top: 10px;
    color: $textErrorRed;
  }
}

//error text highlighting (all child text will be RED)
.error_text{
  color: $textErrorRed !important;
  *{
    color: $textErrorRed !important;
  }

}

//Pointy/Arrow Buttons
.pointy_btn{

  $pointyBtnImg: "../images/mobile/shareacoke/pointy_btn_right.jpg";
  $pointyBtnImgHover: "../images/mobile/shareacoke/pointy_btn_right_hover.jpg";
  $pointyBtnWidth: 80%;
  text-decoration: none;


  background: $buttonGradientStart;
  background: url($pointyBtnImg) no-repeat right top ; /* fallback */
  background: url($pointyBtnImg) no-repeat right top, -webkit-gradient(linear, left top, left bottom, from($buttonGradientStart), to($buttonGradientEnd)); /* Saf4+, Chrome */
  background: url($pointyBtnImg) no-repeat right top, -webkit-linear-gradient(top, $buttonGradientStart, $buttonGradientEnd); /* Chrome 10+, Saf5.1+ */
  background: url($pointyBtnImg) no-repeat right top,    -moz-linear-gradient(top, $buttonGradientStart, $buttonGradientEnd); /* FF3.6+ */
  background: url($pointyBtnImg) no-repeat right top,     -ms-linear-gradient(top, $buttonGradientStart, $buttonGradientEnd); /* IE10 */
  background: url($pointyBtnImg) no-repeat right top,      -o-linear-gradient(top, $buttonGradientStart, $buttonGradientEnd); /* Opera 11.10+ */
  background: url($pointyBtnImg) no-repeat right top,         linear-gradient(top, $buttonGradientStart, $buttonGradientEnd); /* W3C */
  background-size:auto 100%;

  //Full border makes a tiny rounded corner appear at the top/bottom right side. Silly bugs...
  //-webkit-border-radius: 5px;
  //-moz-border-radius: 5px;
  //border-radius: 5px;

  border-top-left-radius:5px;
  -moz-border-radius-topleft:5px;
  -webkit-border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  -moz-border-radius-bottomleft:5px;
  -webkit-border-bottom-left-radius:5px;

  padding: 5px;
  padding-right: 50px;

  margin-top: 5px;

  display: inline-block;
  height: 50px;

  width: $pointyBtnWidth;

  font-size: 1.4em;
  font-weight: bold;

  overflow: hidden;

  color: $textWhite;

  span{
    display: inline;
    float:left;
    padding-top: 12px;
    text-shadow: 1px 1px 2px #000000;
    font-weight: normal;
  }

  img{
    display: inline;
    float: left;
    margin: 5px 15px 5px 0;
    height: 40px;
    width: auto;
    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  * {
    text-decoration: none;
    color: $textWhite !important;
  }
  &:visited{
    color: $textWhite !important;
    text-decoration: none;

  }
  &:hover{
    color: $textWhite !important;
  }
  &.ui-link{
    color: $textWhite;
    &:hover{
      color: $textWhite !important;


      background: $buttonGradientEnd;
      background: url($pointyBtnImgHover) no-repeat right top ; /* fallback */
      background: url($pointyBtnImgHover) no-repeat right top, -webkit-gradient(linear, left top, left bottom, from($buttonGradientEnd), to($buttonGradientStart)); /* Saf4+, Chrome */
      background: url($pointyBtnImgHover) no-repeat right top, -webkit-linear-gradient(top, $buttonGradientEnd, $buttonGradientStart); /* Chrome 10+, Saf5.1+ */
      background: url($pointyBtnImgHover) no-repeat right top,    -moz-linear-gradient(top, $buttonGradientEnd, $buttonGradientStart); /* FF3.6+ */
      background: url($pointyBtnImgHover) no-repeat right top,     -ms-linear-gradient(top, $buttonGradientEnd, $buttonGradientStart); /* IE10 */
      background: url($pointyBtnImgHover) no-repeat right top,      -o-linear-gradient(top, $buttonGradientEnd, $buttonGradientStart); /* Opera 11.10+ */
      background: url($pointyBtnImgHover) no-repeat right top,         linear-gradient(top, $buttonGradientEnd, $buttonGradientStart); /* W3C */
      background-size:auto 100%;
    }
  }

}

//Pointy/Arrow Buttons Simple. Solid color.
.simple_pointy_btn{
  margin: 5px 0;
  padding: 0;
  position: relative;

  .ui-link:visited, .ul-link, {
    color: $textWhite !important;
  }

  a {
    float: left;
    height: 32px;
    line-height: 32px;
    position: relative;
    margin: 0;
    padding: 0 20px 0 24px;
    background: black;
    color: $textWhite !important;
    font-size: 30px;
    text-decoration: none;
    -moz-border-radius: 8px 0 0 8px;
    -webkit-border-radius: 8px 0 0 8px;
    border-radius: 8px 0 0 8px;




    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: -16px;
      width: 0;
      height: 0;
      border-color: transparent transparent transparent black;
      border-style: solid;
      border-width: 16px 0 16px 16px;
    }

    &:hover {
      background: black;

      color: $textWhite;
    }

    &:hover:after {
      border-color: transparent transparent transparent black;
    }
  }

}


.share_coke_nav {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  width: 100%;

  * {
    color: $textWhite;
    font-size: 18px;
    font-weight: bold;
    border-collapse: separate;
    text-shadow: none;
  }
  table, table tr {
    width:100%;
    //border-collapse: separate;
  }
  table tr td .inner {
    height: 45px;

    margin-left: auto;
    margin-right: auto;

    background: $buttonGradientStart; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$buttonGradientStart', endColorstr='$buttonGradientEnd'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from($buttonGradientStart), to($buttonGradientEnd)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  $buttonGradientStart,  $buttonGradientEnd); /* for firefox 3.6+ */


    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 2px;
    width:100px;

    -moz-box-shadow: 0px 1px 3px black;
    -webkit-box-shadow: 0px 1px 3px black;
    box-shadow: 0px 1px 3px black;

    border: 1px solid $buttonGradientStart;




  }

  table tr td .outer{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: none;


  }

  .selected {
    background-image:url("../images/mobile/shareacoke/nav_arrow_bottom.png");
    background-repeat:no-repeat;
  /*background-attachment:fixed;*/
    background-position: center bottom;



  }

  .selected .inner {
    background: $backgroundDarkerRed;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid $backgroundDarkerRed;
    //border: none;

  }
  table tr td {
    padding-bottom: 16px;
    vertical-align: middle;
    text-align: center;

  }

  a {
    text-decoration: none;
    border: none;
  }

  #share_coke_nav_button_home {
    width: 53px;
    .outer, .inner {
      width: 48px;

      img {
        width: 62%;
      }
    }
  }
  #share_coke_nav_button_150names {
    width: 80px;
    .outer, .inner {
      width: 75px;
    }
  }

  #share_coke_nav_button_story {
    width: 115px;
    .outer, .inner {
      width: 110px;
    }
  }
  #share_coke_nav_button_customise {
    width: 135px;
    .outer, .inner {
      width: 125px;
    }
  }
}

.banner{
  margin-top: 10px;

  -moz-box-shadow: inset 0px 5px 10px white;
  -webkit-box-shadow: inset 0px 5px 10px white;
  box-shadow: inset 0px 5px 10px white;

  img{
    width: 100%;
    height: auto;

    z-index: -1;
    position: relative;

  }

}

.banner_footer{
  color: $textWhite;
  width: 100%;
  display: block;
  background: $backgroundLighterRed;
  font-size: 18px;
  font-weight: bold;

  a {
      color: #fff;
  }

  table{
    width: 100%;

    div{
      width: 100%;
      color: #fff;
      display: inline-block;
      background: $backgroundDarkerRed;
      padding: 10px 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      box-sizing: border-box;
      font-weight: normal;
      text-shadow: 1px 1px 2px #000;
    }
    tr td{
      padding: 10px;

      &:nth-child(1){
        text-align: center;
        width: 37%;
      }
      &:nth-child(2){
        width: 55%;
        text-align: center;
        margin-right: 10px;


      }
    }

  }
}

.home_content_btns{
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

//Nominate Form
.nominate_name_form_wrapper, .share_your_story_form_form_wrapper {
  margin: 10px;

  .form_row{
    padding-bottom: 7px;
    &.checkbox{

      .ui-btn-text{
        font-size: 15px !important;
      }

      input {
        display: none;
      }
    }
    input{
      margin-top: 10px;
    }
    label{
      color: $textSubtleGrey;

    }
    &.submit{
      width: 100%;
      text-align: center;
      padding-bottom: 30px;
      .ui-btn{
        width: 200px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .form_copy {
    font-size: 75%;
    color: #777;

    ul {
      padding-left: 25px;

      li {
        line-height: 1.3em;
        padding-bottom: 6px;
      }
    }
  }
}

.one_fifty_names{
  //padding-bottom: 300px;

  .title_1{
    margin-top: 2px;
  }
  .names_list{
    .ui-input-search .ui-btn{
      margin-right: 10px;
    }
    margin-bottom: 20px;
    .ui-input-search .ui-btn{
      margin-right: 10px;
    }

    .ui-bar-c{
      margin:10px;
      border: none;
      background: none;
      color: $textBlack;
      font-weight: bold;
      text-shadow: 0 1px 1px white;
      background-image: none;

    }
    .ui-listview{
      .ui-li{
        border: none;
        text-shadow: 0 0 0 white;
        background: none;
        background-image: none;
        color: $textCokeRed !important;
        padding: 10px;
        padding-left: 25px;
        font-size: 18px;
        font-weight: bold;
        //-moz-border-radius: 20px;
        //border-radius: 20px;


        // -webkit-box-shadow: 0 -2px 2px -2px #000000;
        // -moz-box-shadow: 0 -2px 2px -2px #000000;
        // box-shadow: 0 -2px 2px -2px #000000;



      }
      background: none;
      margin-left: 10px;
      margin-right: 10px;

      //border: 2px solid black;
      -moz-border-radius: 20px;
      border-radius: 20px;

      -webkit-box-shadow: 0 0px 5px 2px #000000;
      -moz-box-shadow: 0 0px 5px 2px #000000;
      box-shadow: 0 0px 5px 2px #000000;

    }

  }
  &.vote{
    .names_list{
      .ui-input-search .ui-btn{
        margin-right: 10px;
      }
      li{
        .ui-btn{
          display: inline-block;
          height: 25px;
          margin: 0px;
          float: right;

          &.ui-btn-up-a, .ui-btn-up-a{
            border: 1px solid #7C7C7C !important;
            background: #870D15 !important;
            font-weight: bold;
            color: white;
            text-shadow: 2px 2px 1px #333 !important;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#E61E2B), to(#870D15)) !important;
            background-image: -webkit-linear-gradient(#E61E2B, #870D15) !important;
            background-image: -moz-linear-gradient(#E61E2B, #870D15) !important;
            background-image: -ms-linear-gradient(#E61E2B, #870D15) !important;
            background-image: -o-linear-gradient(#E61E2B, #870D15) !important;
            background-image: linear-gradient(#E61E2B,#870D15) !important;

            -moz-box-shadow: 0px 1px 8px rgba(0,0,0,0.6);
            -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.6);
            //-webkit-box-shadow: inset 0px 0px 50px 9px rgba(0, 0, 0, 0.5);
            //box-shadow: inset 0px 0px 50px 9px rgba(0, 0, 0, 0.5);

          }
          &.btn_down{
            $voteDownBtnColor1: #5E5E5E;
            $voteDownBtnColor2: #686868;
            border: 1px solid $voteDownBtnColor2 !important;
            background: $voteDownBtnColor1 !important;
            font-weight: bold;
            color: white;
            text-shadow: 2px 2px 1px #333 !important;
            background-image: -webkit-gradient(linear, left top, left bottom, from($voteDownBtnColor2), to($voteDownBtnColor1)) !important;
            background-image: -webkit-linear-gradient($voteDownBtnColor2, $voteDownBtnColor1) !important;
            background-image: -moz-linear-gradient($voteDownBtnColor2, $voteDownBtnColor1) !important;
            background-image: -ms-linear-gradient($voteDownBtnColor2, $voteDownBtnColor1) !important;
            background-image: -o-linear-gradient($voteDownBtnColor2, $voteDownBtnColor1) !important;
            background-image: linear-gradient($voteDownBtnColor2,$voteDownBtnColor1) !important;

          }
          .ui-btn-inner{
            margin: 0px;
            padding: 2px;
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }

    }
    .form_block{
      padding-left: 15px;
      padding-right: 15px;
    }
    .submit .simple_pointy_btn a{

      font-size: 18px;

    }
  }
}



.customise_can{
  .banner_footer_2{
    width: 100%;
    display: inline-block;
    background: #353535;
    padding: 0px;
    margin: 0px;
    margin-top: -5px;
    .ui-btn-block{
      height: 30px;
      margin: 15px;
    }
    .ui-btn-inner{
      padding: 4px;

    }
    *{
      border: none;
    }
    .ui-btn-up-c{
      background-image: none;
      background: none;
      background-image:url("../images/mobile/shareacoke/dropdown_background.jpg");
      background-size: 35px 100%;
      border: none;

      //dropdown_background.jpg
    }
    .ui-btn-down-c, .ui-btn-hover-c{
      background-image: none;
      background: none;
      background-image:url("../images/mobile/shareacoke/dropdown_background.jpg");
      background-size: 35px 100%;
      border: none;
    }

  }

  .event_info_wrapper{
    width: 100%;
    .location_list{
      .title_2{
        color: $textCokeRed;

      }

      .city_locations{
        th{
          text-align: left;
        }
        .address{
          img{
            display: none;
          }
          span{
            float:left;
          }
        }
      }

      table{
        margin:10px;
        width: 100%;

        tr td{
          width: 33%;
          padding-top: 10px;
          padding-bottom: 10px;

          color: $textSubtleGrey;
          font-size: 12px;
          font-weight: lighter;

          &:nth-child(2){
            font-weight: bold;
            font-size: 14px;

          }
          &:nth-child(3){
            font-weight: bold;
            font-size: 14px;

          }


        }
      }
      .city{
        margin-top: 10px;
        margin-left: 10px;
      }
    }

  }
  .footer_images_wrapper{
    width: 100%;

    table{
      margin: 10px;
      width:100%;
      tr td{
      }
    }
    img{
      width: 90%;
      height: auto;
    }
  }
  //padding-bottom: 400px;
  .pointy_btn{
    height: 30px;
    span{
      padding-top: 5px;
      padding-left: 20px;
    }
    img{
      height: 20px;
      width: auto;
      margin-right: 0px;
    }
  }

}

.ui-body-a{
  background: #FFFFFF;

  $floatingFooterBackgroundImg: "../images/mobile/shareacoke/floating_footer_image.png";

  background: url($floatingFooterBackgroundImg);// no-repeat right top ; /* fallback */
  background-repeat:no-repeat;
  background-position:center bottom;

  padding-bottom: 100px;
  background-size:100% auto;
}

@media only screen and (min-width: 600px) {

  .ui-body-a{
    padding-bottom: 200px;
  }

}
@media only screen and (min-width: 850px) {

  .ui-body-a{
    background: none;
  }

}


//320px devices
@media only screen and (max-width: 375px) {
  .ui-body-a{

  }
  .customise_can{
    .pointy_btn{
      span{
        padding-top: 8px;
        padding-left: 20px;
      }

    }
  }
  .pointy_btn{
    padding-right: 10px;
    width: 90%;

    img{
      margin: 5px 5px 5px 0px;
    }
    span{
      padding-top: 17px;

      height: auto;
      width: auto;
    }
    font-size: 1.4em;
  }


  .share_coke_nav {

    #share_coke_nav_button_home {
      width: 53px;
      .outer, .inner {
        width: 48px;

        img {
          width: 62%;
        }
      }
    }
    #share_coke_nav_button_150names {
      width: 65px;
      .outer, .inner {
        width: 60px;
      }
    }

    #share_coke_nav_button_story {
      width: 105px;
      .outer, .inner {
        width: 100px;
      }
    }
    #share_coke_nav_button_customise {
      width: 115px;
      .outer, .inner {
        width: 110px;
      }
    }


    *{
      font-size: 100%;
    }

  }
}
//240px devices
@media only screen and (max-width: 270px) {
  .ui-body-a{
    // background: red;
  }
  .customise_can{
    .pointy_btn{
      span{
        padding-top: 10px;
        padding-left: 10px;
      }

    }
  }
  .pointy_btn{
    padding-right: 10px;
    width: 90%;

    img{
      margin: 5px 5px 5px 0px;
    }
    span{
      padding-top: 18px;

      height: auto;
      width: auto;
    }
    font-size: 12px;
  }
  .share_coke_nav {
    #share_coke_nav_button_home {
      width: 53px;
      .outer, .inner {
        width: 48px;

        img {
          width: 62%;
        }
      }
    }
    #share_coke_nav_button_150names {
      width: 55px;
      .outer, .inner {
        width: 50px;
      }
    }

    #share_coke_nav_button_story {
      width: 65px;
      .outer, .inner {
        width: 60px;
      }
    }
    #share_coke_nav_button_customise {
      width: 65px;
      .outer, .inner {
        width: 60px;
      }
    }
    *{
      font-size: 10px;
    }

  }

}

.slide {
  position: relative;
  //width: 100%;
  //height: auto;
  margin: 10px;
  .inner, .inner_2, .inner_3{
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
  }
}

