/* Share a Coke facebook app 810px. jay@satellitemedia.co.nz */
@import "compass/utilities/general/clearfix";
@import "compass";

@font-face {
  font-family: 'youregular';
  src: url('/fonts/you-webfont.eot');
  src: url('/fonts/you-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/you-webfont.woff') format('woff'), url('/fonts/you-webfont.ttf') format('truetype'), url('/fonts/you-webfont.svg#youregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

.ff-you {
  font-family: 'youregular' !important;
  * {
    font-family: 'youregular' !important;
  }
}

/* Facebook Specific */
html, body {
  width: 810px;
  font-family: Arial;
  font-size: 14px;
}

strong {
  font-weight: bolder;
}

.error {
  color: #FF0000 !important;
  font-weight: bold;
}

.black {
  color: #000 !important;
}

.mini_note {
  color: #CCC;
  font-size: 10px;
  margin-top: 5px;
  width: 315px;
  text-align: right;
}

.mini_note span {
  color: #8C8C8C;
}

.left {
  float: left;
}

.right {
  float: right;
}

.large {
  font-size: 30px;
}

.clear {
  clear: both;
  height: 1px;
  min-height: 1px;
  font-size: 1px;
}

a, a:visited, img {
  border: none;
  text-decoration: none;
}

input {
  outline: 0 none;
}

.centered {
  margin: 0 auto;
}

ul.styled {
  list-style: outside disc;
  padding-left: 15px;
}

ul.styled li {
  padding-bottom: 5px;
}

.footer, .footer .other_footer_links {
  font-size: 11px;
  color: #CCC;
  position: relative;
}

.footer .legal_line {
  text-align: center;
  padding-top: 20px;
  line-height: 16px;
}

.other_footer_links {
  margin-top: 3px;
}

.other_footer_links a, .other_footer_links a:visited {
  color: #777;
  text-decoration: none;
}

.footer div.barb {
  background: url('../../../images/app/shareacoke/dotted-hr.jpg');
  width: 810px;
  height: 24px;
  margin-top: 20px;
}

.footer div.mini_logo {
  background: url('../../../images/app/shareacoke/coke-mini-logo.jpg');
  width: 81px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 0;
}

.footer .like_count {
  float: left;
}

#linktocanpage_withname, #nextpage {
  cursor: pointer
}

/* App Specific */
.container {
  width: 810px;
  overflow: hidden;
}

.heading {
  background: #FFF url('../../../images/app/shareacoke/main-header.jpg') no-repeat left top;
  height: 191px;
}

ul.nav {
  margin-top: 3px;
  list-style-type: none;
  list-style: none;
}

ul.nav li div {
  float: left;
  text-indent: -9999px;
  height: 74px;
}

/* Home Nav */
ul.nav li .home {
  background: url('../../../images/app/shareacoke/button-home.jpg') top;
  width: 75px;
  margin-left: 0;
}

ul.nav li .home:hover, ul.nav li .active {
  background-position: bottom;
}

/* 150 Names Nav*/
ul.nav li .names150 {
  background: url('../../../images/app/shareacoke/button-150names.png') top;
  width: 122px;
  margin-left: 5px;
}

ul.nav li .names150:hover, ul.nav li .active {
  background-position: bottom;
}

/* Share Virtual Can Nav */
ul.nav li .sharecan {
  background: url('../../../images/app/shareacoke/button-shareacan.png') top;
  width: 142px;
  margin-left: 5px;
}

ul.nav li .sharecan:hover, ul.nav li .active {
  background-position: bottom;
}

/* Share Virtual Can Nav */
ul.nav li .customise {
  background: url('../../../images/app/shareacoke/button-customise.png') top;
  width: 142px;
  margin-left: 5px;
}

ul.nav li .customise:hover, ul.nav li .active {
  background-position: bottom;
}

/* Share Story Nav */
ul.nav li .sharestory {
  background: url('../../../images/app/shareacoke/button-sharestory.png') top;
  width: 152px;
  margin-left: 5px;
}

ul.nav li .sharestory:hover, ul.nav li .active {
  background-position: bottom;
}

/* Share Note Nav */
ul.nav li .shareanote {
  background: url('/images/app/shareacoke/button-shareanote.png') top;
  width: 152px;
  margin-left: 5px;
}

ul.nav li .shareanote:hover, ul.nav li .active {
  background-position: bottom;
}

/* Home Page Intro */
.home_page {
  position: relative;

  .pageintro {
    padding: 20px 0;
    @include clearfix;

    .introtext {
      font-size: 32px;
    }

    a {
      color: #f40009;
      margin: 20px 0;
    }
  }

  .floating_coke_label {
    margin-top: 3px;
  }
  .subintro {
    margin-top: 10px;
    color: #8C8C8C;
    line-height: 20px;
    font-size: 13px;
  }

  .nominate_bottles {
    position: absolute;
    right: 0;
    top: 0;
  }

  .names_title {
    padding: 0;
    position: absolute;
    left: 40px;
    top: 425px;
    z-index: 5;

    .introtext {
      font-size: 43px;
    }

  }
}

.home_page .sharecoke_names {
  margin-top: 10px;
}

.home_page .cokebottle_tall {
  position: absolute;
  background: url("../../../images/app/shareacoke/coke-bottle.jpg");
  width: 228px;
  height: 765px;
  right: 60px;
  top: 410px;
  z-index: 2;
}

.home_page .cokebottle_tall .coke_name {
  position: absolute;
  right: 30px;
  width: 192px;
  top: 350px;
  font-size: 45px;
  text-align: center;
  color: #FFF;
}

.intro {
  width: 770px;
  height: 350px;
  //background: url('../../../images/app/shareacoke/home-sharecoke-bg.jpg');
  background: url('/images/app/shareacoke/main-bg.jpg') no-repeat bottom left;
  position: relative;
}

.intro div.introtext {

  //position: absolute;
  //top: 145px;
  //left: 40px;
  //width: 430px;
  //line-height: 23px;
}

.intro a.sharecan {
  width: 250px;
  height: 155px;

  position: absolute;
  top: 145px;
  left: 500px;
}

/* Share a Story Page */
.story_page {
  width: 810px;
  background: url('../../../images/app/shareacoke/main-bg.jpg') no-repeat bottom;
  position: relative;
  padding-bottom: 190px;
}

.story_page .container {
  width: 780px;
  margin: 0 auto;
}

.story_page .container .story_intro {
  margin-top: 20px;
  margin-bottom: 20px;
}

.story_page .container .story_intro .introtext {
  font-size: 43px;
}

.story_page .container .story_intro .subintro {
  margin-top: 10px;
  color: #8C8C8C;
  line-height: 20px;
  font-size: 13px;
  text-indent: 6px;
}

.story_page .form_content {
  margin-top: 100px;
}

.form_content .form {
  width: 430px;
}

.form_content .inner_data textarea, .form_content .inner_data input, .form_content .inner_data select, .form_content .form .input_width {
  width: 315px;
  border: 1px solid #CCC;
  padding: 5px 6px;
  border-radius: 5px;
  -webkit-border-radius: 5px;

  @include filter-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.3), vertical);
  // IE6-8
  // IE9 SVG, needs conditional override of 'filter' to 'none'
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(top, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.12) 100%));

}

.form_content .inner_data textarea {
  height: 120px;
}

.form table tr {
  height: 30px;
}

.form table tr td {
  color: #8C8C8C;
  font-size: 12px;
}

.form table tr td.inner {
  height: 30px;
  font-size: 11px;
  color: #8C8C8C;
}

.form table tr td a, .form table tr td a:visited {
  text-decoration: underline;
  color: #EC1C15;
}

/* 150 Names List */
.sharecoke_names {
  float: left;
}

.sharecoke_names .label_share_coke {
  background: url('../../../images/app/shareacoke/label-shareacoke.jpg');
  width: 214px;
  height: 29px;
}

.sharecoke_names .names_container {
  border: 1px solid #E3E3E3;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 330px;
  height: 375px;
  position: relative;
}

.names_container .searchname {
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 310px;
  height: 25px;
  margin: 8px;
  background-color: #f1f1f1;
}

.names_container #search_text {
  border: none;
  font-size: 15px;
  background: none;
  padding: 3px 0 0 3px;
  width: 310px;
}

.names_container .nameslist {
  margin: 8px;
  height: 316px;
  width: 310px;
  border: 1px solid #EDEDED;
  overflow-y: scroll;
  list-style-type: none;
  list-style: none;
}

.nameslist li.name {
  height: 32px;
  line-height: 32px;
  text-indent: 10px;
  color: #EC1C15;
  border-bottom: 1px solid #E7E7E7;
  cursor: pointer;
}

.nameslist li.name:hover, .nameslist li.active {
  background: url('../../../images/app/shareacoke/red_gradient.jpg');
  color: #FFFFFF;
}

/* Video Ads */
.new_ads {
  float: right;
  width: 460px;
  margin-top: 10px;

  .josh {
    float: left;
    background: url(/images/app/shareacoke/josh.jpg) no-repeat;
  }
  .jess {
    float: right;
    background: url(/images/app/shareacoke/jess.jpg) no-repeat;
  }

  .josh, .jess {
    cursor: pointer;
    width: 225px;
    height: 83px;
    &.active {
      background-position: 0 -84px;
    }
  }

}

/* 150 Names Page */
.names_150_page {
  position: relative;
  margin-left: 40px;
  height: 780px;
}

.names_150_page .pageintro {
  margin-top: 20px;
  margin-bottom: 20px;
}

.names_150_page .pageintro .introtext {
  font-size: 43px;
}

.names_150_page .floating_coke_label {
  float: right;
  margin-top: 3px;
}

.names_150_page .subintro {
  margin-top: 10px;
  color: #8C8C8C;
  line-height: 20px;
  font-size: 13px;
}

.names_150_page .cokebottle_tall {
  position: absolute;
  background: url("../../../images/app/shareacoke/coke-bottle.jpg");
  width: 228px;
  height: 765px;
  right: 0;
  top: 10px;
}

.names_150_page .cokebottle_tall .coke_name {
  position: absolute;
  right: 30px;
  width: 192px;
  top: 350px;
  font-size: 45px;
  text-align: center;
  color: #FFF;
}

.page {
  position: relative;
  padding-left: 40px;
  padding-bottom: 230px;
  background: url("../../../images/app/shareacoke/main-bg.jpg") no-repeat bottom;
  margin-bottom: 40px;
}

.page .sharecan_instructions {
  margin-top: 20px;
  margin-bottom: 20px;
}

.page, .fancybox-inner {
  .sharecan_instructions .instruction {
    font-size: 43px;
  }
}

.page .floating_coke_label {
  float: right;
  margin-top: 3px;
}

.page .subintro {
  margin-top: 10px;
  color: #8C8C8C;
  line-height: 20px;
  font-size: 13px;
}

.floating_mate_can {
  background: url("../../../images/app/shareacoke/cokecan-mate.jpg");
  width: 334px;
  height: 250px;
  top: 0;
  right: 30px;
  position: absolute;
}

.page .friends_container {
  border: 1px solid #E3E3E3;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 720px;
  height: 275px;
  position: relative;
  margin-top: 50px;
  padding: 10px;
  visibility: hidden;
  margin-left: 10px;
  background-color: #FFF;
}

.page .create_button {
  width: 249px;
  height: 114px;

  position: absolute;
  bottom: -65px;
  left: 270px;
  display: none;
}

.sharecan_page .create_button {
  background: url("/images/app/shareacoke/button-create.png");
}

.sharecan_page {
  //margin: 40px 20px 0 20px;
  padding-bottom: 140px;
  height: 600px;

  .sharecan_instructions {

    .instruction {
      font-size: 42px;
    }
  }
}

.friends_container .create_coke_label {
  background-repeat: no-repeat;
  width: 214px;
  height: 29px;
  float: left;
  margin-top: 7px;
}

.sharecan_page .friends_container .create_coke_label {
  background-image: url("../../../images/app/shareacoke/label-shareacoke.jpg");
}

.friends_container .searchfriend {
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 480px;
  height: 25px;
  margin: 8px;
  background-color: #f1f1f1;
  float: right;
}

.friends_container #search_friend {
  border: none;
  font-size: 15px;
  background: none;
  padding: 3px 0 0 3px;
  width: 476px;
}

.friends_container .friendslist {
  margin: 8px;
  height: 213px;
  width: 683px;
  border: 1px solid #EDEDED;
  overflow-y: scroll;
  list-style-type: none;
  list-style: none;
  padding: 10px;
}

.friendslist li.name {
  color: #EC1C15;
  cursor: pointer;
  float: left;
  width: 150px;
  height: 56px;
  padding: 3px;
  margin-bottom: 5px;
  font-size: 11px;
  font-weight: bold;
}

.friendslist li.name img {
  float: left;
  margin-right: 3px;
  border: 3px solid #EC1C15;
  width: 50px;
  height: 50px;
}

.friendslist li.name:hover, .friendslist li.active {
  color: #FFFFFF;
  background-color: #EC1C15;
}

.connect_facebook {
  display: none;
  position: absolute;
  background: url("../../../images/app/shareacoke/connect-fb.png");
  width: 473px;
  height: 115px;
  bottom: -65px;
  left: 150px;
}

/* Customise can Page */

.customise_page {
  background: none;
  padding-bottom: 20px;
  .container {
    width: 750px;
    background: url("../../../images/app/shareacoke/can-bottle-kelly.jpg") no-repeat top right;

    .story_intro {

      .floating_coke_label {
        vertical-align: top;
      }

      .subintro {
        margin-top: 50px;
        width: 410px;
        text-indent: 0;

        p {
          margin: 0 0 10px 0;
          padding: 0;
        }
      }

    }

  }

  .tabs {
    width: 100%;
    @include clearfix;

    .tab {
      width: 362px;
      height: 22px;
      background-color: #ccc;
      text-align: center;
      font-size: 21px;
      padding: 12px 0;
      -webkit-border-radius: 10px 10px 0px 0px;
      border-radius: 10px 10px 0px 0px;
      cursor: pointer;

      &.active {
        background-color: #ec241d;
        color: #fff;
      }
    }
  }

  .location_list {
    width: 720px;
    margin: 0 0 20px 0;
    @include clearfix;
    padding: 15px;
    -webkit-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, .5);

    box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, .5);

    .introtext {
      color: #666666;
      font-size: 18px;
    }

    .city {
      width: inherit;
      font-size: 20px;
      font-weight: bold;
      padding: 5px 0;
      color: #f40009;
      float: left;
    }

    table.city_locations {
      width: 100%;
      padding: 0 0 20px 0;
      margin: 0;

      th {
        text-align: left;
        font-weight: bold;
        color: #ec241d;
      }

      td, th {
        padding: 4px 0;
      }

      .address {
        .marker {
          vertical-align: middle;
        }

        span a {
          color: #f40009;
        }
      }

      .location {

        width: 200px;
        color: #555;
        font-weight: bold;

      }

      .date {
        width: 120px;
      }
      .time {
        width: 140px;
      }

    }

    .divider {
      border-bottom: 1px solid #d9d9d9;
      width: 100%;
      height: 1px;
      margin: 20px 0;
    }

  }
}

.mate_can {
  background: url(/images/app/shareacoke/cokecan-mate.jpg) no-repeat top right
}

.final_name_error_container, .share_success {
  height: 150px;
  width: 700px;
  margin: 0 auto;
  text-align: center;
  color: #EC1C15;
  padding-top: 50px;
  line-height: 32px;
  font-size: 20px;
}

.share_success {
  display: none;
  padding-bottom: 75px;
}

.final_name_error_container a, .final_name_error_container a:visited {
  text-decoration: underline;
  color: #751818;
}

.final_name_container {
  position: relative;
}

.final_name_container .logo_handle {
  margin: 0 auto;
  display: block;
}

.empty_can {
  width: 413px;
  height: 346px;
  background: url("../../../images/app/shareacoke/can-transparent-bg.png");
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
}

.empty_can .empty_can_container {
  position: absolute;
  top: 74px;
  width: 400px;
  margin-left: 13px;
  text-align: center;
  color: #FFF;
  font-size: 70px;
}

.control_back {
  height: 94px;
  width: 112px;
  position: absolute;
  left: 76px;
  background: url("../../../images/app/shareacoke/goback.png") no-repeat;
  bottom: -54px;
}

.control_share {
  height: 112px;
  width: 304px;
  position: absolute;
  left: 210px;
  background: url("../../../images/app/shareacoke/share-with-noname.png") no-repeat;
  bottom: -60px;
  cursor: pointer;
}

.control_share span {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 38px;
  left: 23px;
  text-transform: uppercase;
}

/* MISC CONTROLS */
.misc_content {
  margin-left: 5px;
  line-height: 16px;
  font-size: 11px;

  h2 {
    font-size: 26px;
    margin: 30px 0 5px;
    text-transform: uppercase;
  }

  h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 2em 0 5px;
  }

  p {
    margin: 0 0 1em 0;
  }

  ul, ol {
    padding: 0 0 0 20px;
    li {
      list-style-type: disc;
      margin: 0 0 0.5em 0;
    }
  }
  ol li {
    list-style-type: decimal;
  }
}

.note_page {
  padding-bottom: 40px;

  .friends_container .create_coke_label {
    background-image: url("/images/app/shareacoke/label-create-a-note.png");
    background-position: 10px 5px;
  }

  .create_button {
    background: url("/images/app/shareacoke/button-choose-your-note.png") no-repeat;
    width: 264px;
    height: 139px;
    bottom: -79px;
  }

  .sharecan_instructions {
    background: url('/images/app/shareacoke/share-a-note.png') no-repeat top right;
    height: 229px;
  }

  .note_carousel {
    width: 610px;
    height: 460px;
    margin: 80px 0 0 0;
    padding: 0 60px;
    position: relative;

    ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      width: 42em;
      height: 24em;
    }
    li {
      height: 428px;
      width: 285px;
      background: #eff6fe url('/images/app/shareacoke/carousel-note.jpg') no-repeat;
      background-size: 100%;
      cursor: pointer;
      border: 1px solid #bcc5cf;

      -webkit-box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.3);

      .share_a {
        margin-top: 90px;

        img {
          width: 95%;
          display: block;
        }
      }

    }
    li.roundabout-in-focus {
      cursor: default;
    }

    .arrow {
      position: absolute;
      top: 140px;
      width: 35px;
      height: 35px;
      z-index: 500;
    }
    .prev {
      left: 25px;
      background: url('/images/app/shareacoke/arrow-left.png') no-repeat;
    }

    .next {
      right: 30px;
      background: url('/images/app/shareacoke/arrow-right.png') no-repeat;
    }

  }

  .preview_button {
    height: 117px;
    width: 253px;
    position: absolute;
    left: 270px;
    background: url("/images/app/shareacoke/button-preview-my-note.png") no-repeat;
    bottom: -60px;
    cursor: pointer;
    border: none;
  }

  .control_share {
    left: 270px;
  }
}

.note_create {
  display: block;
  width: 728px;
  height: 946px;
  border: 1px solid #bcc5cf;
  background: url('/images/app/shareacoke/create-note-bg.jpg') no-repeat;
  -webkit-box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.3);
  position: relative;

  .the_note {
    font-size: 23px;
    line-height: 48px;
    //margin: 230px 0 0 50px;
    position: absolute;
    bottom: 340px;
    left: 50px;
    width: 620px;

    .note_name {
      @extend .ff-you;
      color: white;
      position: absolute;
      right: 15px;
      bottom: 7px;
      width: 150px;
      text-align: center;
      font-size: 37px;
      height: 37px;
      //line-height: 37px;
      //overflow: hidden;
    }

    .line {

      &.last {
        color: #f40009;
        text-align: right;
        margin-right: 205px;

        img {
          vertical-align: top;
        }
      }

      &:nth-child(5) {
        width: 450px;
      }
    }

  }

  #note_love {
    #selection_1 {
      width: 230px;
    }
    #selection_2 {
      width: 300px;
    }
    #selection_3 {
      width: 285px;
    }
  }
  #note_siblings {
    #selection_1 {
      width: 290px;
    }
    #selection_2 {
      width: 300px;
    }
    #selection_3 {
      width: 300px;
    }
  }

  #note_best-friend {
    #selection_2 {
      width: 200px;
    }
    #selection_3 {
      width: 300px;
    }
  }

  #note_birthday {
    #selection_2 {
      width: 200px;
    }
    #selection_3 {
      width: 200px;
    }
  }

  #note_miss-you {
    #selection_2 {
      width: 280px;
    }
  }

}

.note_view {
  width: auto;

  .container {
    margin: 35px auto;
    width: 728px;

    .footer div.barb {
      width: inherit;
      margin-top: 50px;
    }

    .footer .legal_line {
      width: 650px;
      text-align: left;
      float: left;
      margin-bottom: 50px;
    }
  }
}

.nominate_name_page {
  position: relative;
  margin-left: 40px;
  background: url("../../../images/app/shareacoke/coke-bottle.jpg") top right no-repeat;

  .pageintro {
    margin-top: 20px;
    margin-bottom: 20px;

    .introtext {
      font-size: 37px;
    }
  }

  .floating_coke_label {

    margin-top: 3px;
  }

  .subintro {
    margin-top: 10px;
    color: #8C8C8C;
    line-height: 20px;
    font-size: 13px;
  }
  .cokebottle_tall {

    .coke_name {
      position: absolute;
      right: 30px;
      width: 192px;
      top: 350px;
      font-size: 45px;
      text-align: center;
      color: #FFF;
    }
  }

  .form {

    label {
      display: block;
      color: #8d8c8c;
      padding: 0 0 3px 2px;
      font-size: 15px;
      line-height: 19px;
    }

    .inner_data {
      padding: 0 0 15px 0;
      position: relative;
    }

    .error_list {
      position: absolute;
      right: -30px;
      top: 31px;
      color: #f40009;
      font-size: 12px;
      font-weight: bold;
      width: 120px;

    }

  }

  .textarea .error_list {
    top: 44px;
  }

  .help {
    color: #8d8c8c;
    font-size: 11px;
    clear: both;
  }
  .form_copy {
    font-size: 11px;
    color: #8d8c8c;

    ul {
      list-style-type: disc;
      padding-left: 20px;
      li {
        line-height: 1.3em;
        padding-bottom: 8px;
      }
    }
  }

  .checkbox {
    input, label {
      float: left;
    }
    input {
      width: auto;
    }
    label {
      font-size: 12px;
      width: 300px;
    }
    .error_list {
      top: 4px;
    }
    clear: both;
    width: 100%;;
  }
  a {
    color: #f40009;
  }

  .thanks {
    margin-top: 100px;
    height: 560px;
    h3 {
      font-size: 32px;
    }
    p {
      font-size: 25px;
    }
  }

}

@import "app/shareacoke/map-icons/*.png";
$dimensions: true;
/*
.map_wrap {
  height: 858px;
  position: relative;
  .controls {
    background-color: #f0f0f0;
    width: 100%;
    //height: 50px;
    @include clearfix;

    .friends_filter {
      float: left;
      width: 140px;
      margin: 25px 0 0 20px;

      input {
        float: left;
        margin-top: 13px;
      }
      label {
        float: left;
        width: 110px;
        line-height: 20px;
        padding: 0 0 0 10px;
        font-size: 12px;
      }
    }

    @include all-map-icons-sprites(true);

    .selection {
      float: left;
      width: 110px;
      font-size: 12px;
      margin: 10px;
      text-align: center;

      img {
        display: block;
        margin: 5px auto;
      }

      .icon {
        margin: 0 auto 3px;
        cursor: pointer;
      }

      span {
        clear: both;
        color: black;
      }
    }

    .select {
      width: 230px;
      margin: 10px 20px 0 0;
      span {
        clear: both;
        line-height: 25px;
      }

      float: right;
      select {
        width: 220px;
        height: 30px;

      }
    }
  }

  .swish_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
*/
//Footer Bottons for buy for a mate pages and share moment pages
.footer_btn {
  padding-top: 40px;
  display: inline-block;
  width: 100%;
  background: url("../../../images/app/shareacoke/main-bg.jpg") top left no-repeat;
  background-size: 810px 166px;
  width: 100%;
  text-align: center;

  img {
    margin-top: 95px;
    height: 80px;
    display: inline;
    //margin-left: auto;
    //margin-right: auto;

  }
  div {
    width: 100%;
    text-align: center;
  }
}

.home_page, .buy_for_mate_page, .share_moment {
  .buy_for_mate, .moment_intro {
    height: auto;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background: none;
    .subintro {

      .header {
        .floating_coke_label {
          float: none;
          height: 35px;
        }
        .instruction {
          font-size: 42px;
          color: black;
        }
      }
      .content_txt {
        .txt {
          //float: left;
          display: block;

          width: 350px;
          padding-top: 10px;
        }
        .btn {
          //float: left;
          display: block;
          padding-top: 10px;
          padding-left: 0px;
        }
      }
    }
  }
}

.buy_for_mate_page {
  .title_1 {
    font-size: 42px;
  }
  .buy_for_mate .subintro .content_txt {
    .txt {
      width: 350px;
    }
  }
  .overview_guide {
    display: block;
    padding-left: 40px;

    .instructions {
      margin-left: 20px;
      margin-top: 20px;
      .steps {
        width: 500px;
        float: left;
        table {

          * {
            vertical-align: middle;
          }
          tr td {
            padding-top: 10px;
            div {
              padding-left: 20px;
            }
          }
        }
      }
    }
    .map {
      width: 150px;
      float: left;
      img {
        width: 150px;
      }
      #location_hover {
        display: none;
        z-index: 9000;
        left: 0px;
        top: 0px;
        position: absolute;
        background: url("../../../images/app/shareacoke/vending/arrow_btn_inv_red_small.png") top left no-repeat;
        background-size: 100% 100%;
        padding: 5px;
        padding-left: 15px;
        padding-right: 10px;
        color: white;
        font-size: 15px;
        font-weight: 900;
        cursor: default;
      }
    }

  }
  .select_friend_wrapper {
    padding-top: 40px;
    display: inline-block;
    width: 100%;
    background: url("../../../images/app/shareacoke/main-bg.jpg") top left no-repeat;
    background-size: 810px 166px;

    img {
      margin-top: 95px;
      height: 80px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

}

.buy_for_mate_share_page {
  .buy_for_mate .subintro .content_txt {
    .txt {
      width: 400px;
    }
  }
  .create_button {
    background: url("/images/app/shareacoke/vending/select_btn.png") center center no-repeat;
  }
}

.buy_for_mate_details_page {
  .your_details {
    margin-left: 20px;

    .title_1 {
      margin-top: 20px;
      margin-bottom: 10px;
    }

    table {
      tr {
        td {
          &:nth-child(1) {
            width: 150px;
          }
          &:nth-child(2) {
            padding-left: 10px;
            input {
              width: 350px;
            }
          }
        }
      }
    }
    .form_content {
      margin-left: 20px;
      color: #8C8C8C;
      font-size: 12px;
      .required {
        td {
          input {
            border: 1px solid red;
          }
        }
      }

    }
    .location {
      td {
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .selectBox-dropdown {
        padding: 5px;
        .selectBox-arrow {
          background: url(/images/app/shareacoke/vending/dropdown_arrow.png) 50% center no-repeat;
          border-left: solid 1px #BBB;
        }
      }
    }
    .terms_small {
      ul {
        list-style: circle;
        margin-left: 20px;
        margin-top: 10px;
      }
    }
    .terms_accept_row {
      td {
        padding-top: 10px;
      }
      .terms_check {
        width: auto;
      }
    }
    .submit_btn_wrapper {
      width: 100%;
      padding-top: 20px;
      a, img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  padding-bottom: 100px;
  background: url("../../../images/app/shareacoke/main-bg.jpg") bottom center no-repeat;
  background-size: 810px 166px;
}

.buy_for_mate_payment_res {
  .success, .fail {
    padding-left: 20px;
    padding-top: 20px;
    .txt {
      margin-top: 20px;
    }
    .submit_btn_wrapper {
      width: 100%;
      padding-top: 20px;
      a, img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  padding-bottom: 100px;
  background: url("../../../images/app/shareacoke/main-bg.jpg") bottom center no-repeat;
  background-size: 810px 166px;
}

.buy_for_mate_terms {

  .title_1 {
    font-size: 32px;

    img {
      height: 32px;
    }

  }
  .terms_wrapper {
    padding-top: 20px;
    padding-left: 20px;

  }
  .txt {
    color: #717171;
    font-size: 12px;
    padding: 5px;
    padding-top: 20px;
    p {
      padding: 5px;
    }
  }
  padding-bottom: 100px;
  background: url("../../../images/app/shareacoke/main-bg.jpg") bottom center no-repeat;
  background-size: 810px 166px;
}

.share_moment {
  .moment_intro {
    z-index: -1;
    .subintro .header {
      .floating_coke_label {
        height: 32px;;
      }
      .instruction {
        font-size: 36px;
      }
    }
    .subintro .content_txt .txt {
      padding-top: 20px;
      width: 400px;
    }
  }
  .overview_guide {
    margin-left: 60px;
    ul {
      list-style: circle;
      color: #8C8C8C;
      font-size: 12px;
      width: 500px;

      li {
        list-style: disc;
        padding-top: 10px;
        line-height: 1.3em;
      }
    }
    #terms_accept {
      margin-top: 20px;

    }
    #terms_accept_label {
      font-size: 12px;
      color: #8C8C8C;

      a {
        color: #f40009;
      }
    }
    .error {
      color: red;
      padding-left: 10px;
      padding-top: 10px;
      display: none;
    }
    #img_select {
      display: none;
    }

  }

  // padding-bottom: 100px;
  // background: url("../../../images/app/shareacoke/main-bg.jpg") bottom center no-repeat;
  // background-size: 810px 166px;

}

.share_moment_tag {
  .img_canvas_wrapper {
    z-index: 10;
    width: 100%;
    display: block;
    padding: 0px;
    padding-bottom: 15px;
    margin-top: -25px;

    .text_wrapper {
      display: inline;
      float: left;
      z-index: 100;
      margin-left: auto;
      margin-right: auto;
      width: 450px;
      font-size: 50px;

      color: white;
      font-weight: bold;
      position: relative;
      text-align: right;
      top: -325px;
      left: 150px;
      .selecting_txt {
        z-index: 100;
      }
      .tagging_txt {
        display: none;
      }

    }

    .tag_pos_div {
      background: none;
      border: 3px solid #737070;
      width: 100px;
      height: 100px;
      position: absolute;
      z-index: 10;
      div {
        font-size: 10px;
        white-space: nowrap;
        width: 80px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #737070;
      }
      &:hover {
        border: 5px solid white;
        div {
          color: white;
        }
      }
    }

    .selected_img {
      width: 600px;
      height: 600px;
      margin-left: auto;
      margin-right: auto;
      display: block;

      -moz-border-radius: 15px;
      border-radius: 15px;
      -moz-box-shadow: 0 0px 5px 1px black;
      -webkit-box-shadow: 0 0px 5px 1px black;
      box-shadow: 0 0px 5px 1px black;

    }
    .mate_can_img {
      position: relative;
      z-index: 300;
      top: -75px;
      left: 50px;
    }
    .selectBox {

      background: none;
      width: 250px;
      border: 3px solid white;
      border-radius: 0px;
      color: white;
      background: none;
      background: url(/images/app/shareacoke/moment/overlay.png);

      .selectBox-label {
        background: none;
        width: 210px;
        text-align: center;

        //background: url(/images/app/shareacoke/moment/overlay.png);

      }
      .selectBox-arrow {
        width: 30px;
        border-left: none;
        background: url(/images/app/shareacoke/moment/arrow-down.png) 50% center no-repeat;
      }

    }
  }
  .friends_container {
    z-index: 500;
    width: 200px;
    position: absolute;
    background: #ffffff;
    top: 0;
    left: 0;
    display: none;

    .create_coke_label {
      display: none;
    }
    .searchfriend {
      border: 1px solid #f1f1f1;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      width: 180px;
      height: 25px;
      margin: 8px;
      background-color: #f1f1f1;
      float: right;
    }
  }

  .friends_container #search_friend {
    border: none;
    font-size: 15px;
    background: none;
    padding: 3px 0 0 3px;
    width: 176px;
  }

  .friends_container .friendslist {
    margin: 8px;
    height: 213px;
    width: 180px;
    border: 1px solid #EDEDED;
    overflow-y: scroll;
    list-style-type: none;
    list-style: none;
    padding: 10px;
  }

  .friendslist div.name {
    color: #EC1C15;
    cursor: pointer;
    float: left;
    width: 150px;
    height: 36px;
    padding: 3px;
    margin-bottom: 5px;
    font-size: 11px;
    font-weight: bold;
    display: block;
    div {
      padding-top: 10px;
      //height: 12px;
      font-size: 10px;
      white-space: nowrap;
      width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;

    }
  }

  .friendslist div.name img {
    float: left;
    margin-right: 3px;
    border: 3px solid #EC1C15;
    width: 30px;
    height: 30px;
  }

  .friendslist div.name:hover, .friendslist div.active {
    color: #FFFFFF;
    background-color: #EC1C15;
  }
  .black {

  }

  .color_picker {
    display: block;
    width: 40px;
    height: 20px;
    margin-left: 650px;
    //-moz-border-radius: 15px;
    //border-radius: 15px;
    -moz-box-shadow: 0 0px 15px 5px black;
    -webkit-box-shadow: 0 0px 15px 5px black;
    box-shadow: 0 0px 15px 5px black;
    cursor: pointer;
    cursor: hand;
    //margin-right: auto;
    div {
      width: 20px;
      height: 20px;

    }
    .black {
      background: #000000;
      float: left;
    }
    .white {
      background: #ffffff;
      float: left;
    }

  }
  .black{
    .selectBox{
      border: 3px solid black;
      color: black;
    }
    .text_wrapper{
      color: black;
    }
    .tag_pos_div{
      &:hover{
        border: 5px solid black;
        div{
          color: black;
        }
      }
    }
  }

  #share_btn_footer {
    display: none;
  }
}

@import '../../partials/typeahead';
@import '_jquery.selectBox.scss';